[2014-06-23 03:19] bom-d-van opened #1 "Compile ERROR"
[code]

[2014-06-23 16:41] #1 closed, assigned to nobody

[2014-07-20 20:51] somejedi opened #2 "Sending from Gmail creates a panic"
2014/07/20 16:36:03 Parsing MIME body
panic: runtime error: index out of range

looks like ParseMIMEBody() might be the reason, I commented out lines 62-65 in mailhog/data/message.go and the panics have stopped

[2014-10-29 09:39] dpeuscher opened #3 "Unrecognised command "MAIL FROM:<[address]>""
When I try to use MailHog in a Zend Framework 1 Application via SMTP, I get an exception with the message "Unrecognised command". After sone debugging I found the SMTP-command "MAIL FROM:<[e-mail-address]>" responsible for the exception.

[2014-10-29 15:13] #2 closed, assigned to nobody

[2014-10-29 18:35] #3 closed, assigned to ian-kent

[2014-10-30 09:52] dpeuscher opened #4 "utf8-encoded mails do not work properly"
When trying to send utf8-mails the =?utf8-Prefix is not interpreted and the whole mail looks broken in the web interface (see screenshot)

![mailhog-utf8-problem](https://cloud.githubusercontent.com/assets/2235055/4841401/527f960a-601a-11e4-8651-8fbc53b31844.PNG)

[2014-11-11 10:56] schaebo opened #5 "multipart boundaries"
There seems to be a problem with multipart boundaries.

The mail is sent from an Oxid E-Shop using the PHPMailer library and it works on postfix/dovecot and mailcatcher without errors.

Excerpt:

[code]

[code]

I put the whole shell output into a gist, hope it helps you to fix this.

https://gist.github.com/schaebo/d7c3fd3b32a4dbe5a024

Thanks for your work. Go-MailHog is a really useful and awes

[2014-11-11 22:10] sean-abbott opened #6 "Broken pipe when attempting to send email"
I love this server, but unfrotunately it's not working for me.  It works fine when sending messages from jenkins' regular email program, but I get this error when I attemp to send them from the extended email plugin.  (and, since I'm just a user and know next to nothing about stmp, not sure how to troubleshoot).  It would be helpful if the mailhog logs had a debug setting so I could see why it's c

[2014-11-12 07:24] #6 closed, assigned to nobody

[2014-11-13 18:17] #5 closed, assigned to nobody

[2014-11-13 21:17] pedromorgan opened #7 "smtp auth"
Implement smtp auth and a config for smtp auth

[2014-11-16 19:20] pedromorgan opened #8 "Failiures"
This is a feature request as I am using to test a local email system, which is a webapp, with both qt/c++, mobile/phonegap and web interfaces...

Useful would be an option to make random or predictable failures happen, eg
- wrong pass
- wrong user
- long lag
- connection fail

This would be particularily useful to handle these errors on the client side..

[code]

[2014-11-18 08:07] #7 closed, assigned to ian-kent

[2014-11-21 10:45] oers opened #9 "HTML encoded Characters are not translated"
HTML:

[code]

will render as:

[code]

[2014-11-23 16:13] #4 closed, assigned to nobody

[2014-11-23 16:14] #9 closed, assigned to nobody

[2014-12-04 08:36] oers opened #10 "Allow Mailhog to be started as a (Windows) Service"
It would be great, if we could start Mail Hog as a Windows Service.

There seems to be a golang package with support for services on different platforms:

https://bitbucket.org/kardianos/service/src

[2014-12-10 00:49] pedromorgan opened #11 "Install Issues"
I just updated the project..

And the auth bug still not working..

But also a major restructure and now a makefile..

Can we put a bit more info.. on this make stuff

I was expecting to run
cd ~src/giithub.com... hog..
and then
go run main.go

I dont like makefile.. I want
go run main.go

What I am getting down to is that now its looks like all little projects..
which is good, lets go for it..
Bu

[2014-12-11 11:38] nexces opened #12 "Invalid sender responses"
It seems that MailHog accepts only single form of sender in MAIL FROM command, which is:

[code]

putting space after colon or omitting angle brackets like

[code]

leads to "550 Invalid sender" however most MTAs accepts those as valid forms.

[2014-12-11 13:22] pedromorgan opened #13 "Feature Request: Save to directory"
Possibility to save messages to a directory..

eg
   -storage directory -directory /home/tests/mail/

Rationale, I want to go an investigate sent messages later, and having the messages in files would help

[2014-12-12 14:43] derwassi opened #15 "auth for mail release"
There's no way to release mail via a smtp server that requires username/password.
Could you please add this?

Furthermore it would be great to specify default values for username/password/host/port via environment variables or command line options.

[2014-12-16 22:51] geerlingguy opened #16 "Add daemon option for Linux"
It would be nice to be able to run mailhog as a daemon in Linux. I think the original MailHog had a `-daemon` option or something like that, but for the current version, the only way to run it in the background is to use nohup or pipe things somehow.

[2014-12-18 09:18] rhysm opened #18 "MailHog stops responding after 250 Ok: queued as ... if eventstream disabled in browser"
Have just been trialing MailHog. Very easy to get up and running!

When testing it out I was watching my Emails come through in the WebUI and clicked around some of the buttons. I noticed after clicking the toggle eventstream and it turning from green to red that after a couple more emails are sent the SMTP server stops responding to requests after the mail gets queued for delivery.

I've managed

[2014-12-20 20:05] #12 closed, assigned to nobody

[2014-12-21 07:57] #11 closed, assigned to nobody

[2014-12-21 09:18] #18 closed, assigned to nobody

[2014-12-22 07:29] oers opened #19 "Table layout broken if subject ist too long"
When you send/recevive an E-Mail with a very long subject/E-Mail-Adress the layout of the table will break:
- content is not aligned with heading
- horizontal scrollbar will not scroll to the right

This was on 1280x1024 screen. On a larger screen more content was visible, but the alignment was still broken.

![image](https://cloud.githubusercontent.com/assets/1115563/5522199/98f0f106-89b4-11e4-92

[2014-12-24 15:56] #8 closed, assigned to nobody

[2014-12-27 18:10] #19 closed, assigned to nobody

[2015-01-03 21:40] adamaltman opened #22 "html email rendering as plain text"
When MailHog receives an email, which is html, it renders it as "plain text".  I don't know why this happens, and how to render it as html.

Here is an example of part of the headers, as well as a screenshot:
[code]

![selection_218](https://cloud.githubusercontent.com/assets/1161871/5603861/478c8d80-935e-11e4-828a-03548d62f7ea.png)

[2015-01-03 22:26] ian-kent commented on #22
Thanks @adamaltman, does this happen with all HTML messages or just occasionally?

I can sort of reproduce it, but only when the HTML email follows a plain text email. When it happens, the broken HTML message contains the previous plain text email at the start (and I assume the headers), which is why MIME parsing fails. I'll fix that anyway, but does it sound like it might be the same bug?

[2015-01-04 01:31] adamaltman commented on #22
Right now it happens with all HTML messages.

[2015-01-04 07:21] nexces opened #23 "CSS in HTML emails breaks layout"
If there is some styling in HTML email regarding for example "body" element those styles are also applied to MailHog UI.
To avoid this kind of issues HTML preview could be presented in "iframe".

[2015-01-04 11:52] ian-kent commented on #22
Ok thanks, I'll have another look

Out of interest, do you know if the SMTP client is using pipelining?

[2015-01-04 12:45] #23 closed

[2015-01-04 12:46] ian-kent commented on #23
Thanks @nexces, should be fixed in [mailhog/MailHog-UI](https://github.com/mailhog/MailHog-UI)

[2015-01-04 13:26] ian-kent commented on #10
Having given it some thought, I don't think this should be implemented in MailHog. I think it would be more appropriate to be handle it outside MailHog, e.g. using a system process manager, Docker, websysd, etc.

Alternatively, if there really is a need to support services on Windows, perhaps it could just be a batch file to register/unregister/start/stop the service?

[2015-01-04 13:26] #10 closed

[2015-01-04 13:26] ian-kent commented on #16
I'll close this now, but any init script contributions are still welcome :+1:

[2015-01-04 13:26] #16 closed

[2015-01-04 21:35] ian-kent commented on #15
This is mostly implemented, username/password are supported for PLAIN and CRAMMD5 mechanisms, both via API and web UI.

There's also support for saving SMTP servers via the API and web UI when releasing a message (they can be reused for the rest of the MailHog session, but are lost when its restarted).

You can also load SMTP servers from a JSON file with the flag `-outgoing-smtp` or environment v

[2015-01-05 01:45] adamaltman commented on #22
Ian - I'm not sure.  The client is a php web application.  The library it uses for email is: http://swiftmailer.org/

[2015-01-05 07:52] ian-kent commented on #22
No problem, thanks, I'll see if I can reproduce it a bit more consistently.

[2015-01-07 10:38] jygastaud commented on #22
I have the same issue with a Drupal (PHP) website + PHPMailer library.
Mails in (real) inbox as Gmail are display fine but MailHog seems not to understand it.
Plain text with HTLML structure are displayed.

[2015-01-07 15:38] ian-kent commented on #22
Would either of you be able to provide MailHog logs demonstrating the bug so I can replay the SMTP conversation against my MailHog to reproduce it?

If you don't want to post it here, if possible could you e-mail them to me instead? email@iankent.co.uk

Thanks

[2015-01-08 09:55] oers opened #24 "Attachements in Base64 are not downloaded correctly"
Excerpt from the source:
  ------=_Part_106_2085203044.1420709065643
  Content-Type: application/pdf; name=2014826.001.pdf
  Content-Transfer-Encoding: base64
  Content-Disposition: attachment; filename=2014826.001.pdf

  JVBERi0xLjQKJaqrrK0KNCAwIG9iago8PAovQ3JlYXRvciAoQXBhY2hlIEZPUCBWZXJzaW9uIDEu
  MSkKL1Byb2R1Y2VyIChBcGFjaGUgRk9QIFZlcnNpb24gMS4xKQovQ3JlYXRpb25EYXRlIChEOjIw
  MTUwMTA4MTAyNDI1KzAx

[2015-01-08 10:01] oers commented on #10
MailHog can be run as a service under windows with : https://nssm.cc/

[2015-01-08 10:03] nexces commented on #24
I can confirm that. First error is the empty line in the beginning of the file. When i remove that line i can decode few bytes and there is another problem (maybe newline related).

[2015-01-08 10:08] nexces commented on #24
It is newline related.
When i change newlines to from CRLF to LF and remove first empty line from downloaded data i can correctly base64 decode data into attachment.

[2015-01-08 10:14] oers opened #25 "Provide a relative/local WebContext Path argument"
I tried to use Mailhog together with an apache-proxy.

	ProxyPass /mailhog http://localhost:8025/
	ProxyPassReverse /mailhog http://localhost:8025/

Mailhog tries to resolve all resource absolute to the host:

http://localhost/images/hog.png

![image](https://cloud.githubusercontent.com/assets/1115563/5660962/556fbdac-9726-11e4-845f-6f5c74fd1c54.png)

I think mailhog needs an optional webcontext a

[2015-01-08 11:54] ian-kent commented on #24
Thanks @oers and @nexces, my bad! I "fixed" the newline handling in `github.com/mailhog/smtp`, but think I've probably applied it to content handled by the DATA command too

[2015-01-08 15:02] oers commented on #24
Will the fix ensure, that the bas64chars are transformed to bytes and a valid PDF is downloaded?

[2015-01-08 16:54] ian-kent commented on #24
I hope so :smile:

[2015-01-08 16:58] JanStevens commented on #22
I have the same issue using a Rails application, i'm willing to provide logs if you guide me to their location or how to log them

Thanks for this awesome program, mailcatcher is sadly not really maintained and doesn't work for ruby 2.2.0 so this is a very good alternative!

[2015-01-08 17:33] ian-kent commented on #22
Thanks @JanStevens, that would definitely be useful!

It'll depend on how you're running MailHog - if its from the command line, the logs should be going to STDOUT, so redirecting to file or piping to tee should work.

Let me know if its Docker and I'll give it a go, to be honest I hadn't even considered how logging would work for the Docker container builds (and I'm no Docker expert!!).

[2015-01-08 21:21] ian-kent commented on #22
I'll keep this open for now, but I hope the latest release has fixed it - but couldn't reproduce it reliably anyway so not entirely sure.

[2015-01-08 21:55] jygastaud commented on #22
Sadly, no. At least in my case.

MailHog version: 0.1.2 Linux amd64
OS: Debian 7

I will sent you a log file in a minute.

[2015-01-08 22:08] ian-kent commented on #25
Just made all URLs relative in the web UI (for API calls and static content), means you can have a single MailHog instance proxied from different endpoints if you need to (or, continue to use the real MailHog UI as well as the proxied one).

I used nginx to test it which gave me some issues with the event stream - switched off proxy buffering and it worked. Thought I'd mention it in case you get t

[2015-01-08 22:36] ian-kent commented on #22
Think I've got it this time, but I'll keep the issue open for now

[2015-01-08 23:14] jygastaud commented on #22
Great work Ian.
Works for me in 0.1.3

[2015-01-09 05:32] nexces opened #26 "IFRAME not taking all height on HTML mail preview"
IFRAME height defaults to browser default which is 150px on chrome and in effect mail preview is limited to a small scrollable stripe.
My fix was to set IFRAME height to 100%.

[2015-01-09 05:33] nexces opened #27 "Embedded images on HTML preview"
Any chance to make it happen? :)

[2015-01-09 07:39] ian-kent commented on #26
Thanks @nexces - I tried with it set to 100% and it didn't seem to work consistently.

It currently attempts to resize the IFRAME when you select a message, so it breaks if you open developer tools, or resize the window, once its already in preview mode.

But aside from that, it should work - I'll have a look today.

[2015-01-09 07:39] ian-kent commented on #27
Yep, always meant to just haven't got around to it yet :smile:

[2015-01-09 08:01] nexces commented on #26
I don't know how tabs are handled but div.tab-content has fixed height that is set just once (on page load) and does not update when window is resized.
If IFRAME is set to width: 100%; and height: 100%; it occupies whole parent (div.tab-content).
If there is some JS function that is responsible for setting up this height it should also be launched on 'resize' and 'orientationchange' window events.

[2015-01-09 08:36] JanStevens commented on #22
Oke still doesnt work for me, I've send you an email with the output. If you need more information then please let me know! thanks!

[2015-01-09 13:06] Pinolo opened #28 "Feature request: embed assets so MH can be used without an active internet connection"
I was trying out MailHog while on travel and I noticed that the Web UI wasn't loading correctly. I think that, given its important role in testing locally, MailHog should be able to work when downloading of remote assets isn't possible or it is difficult.

[2015-01-09 14:06] ian-kent commented on #22
Thanks @JanStevens, I'll have a look asap.

[2015-01-09 14:06] ian-kent commented on #28
Awesome idea :+1:

[2015-01-09 15:46] pedromorgan opened #29 "Update README, ie the tin"
Mailhog lacks the "description" of what it does (what it says on the tin)

Please add
- MailHog is for developers wanting to test send SMTP mailing code
- Without accidentally emailing everyone on the lists..
- Your can send email to MailHog and and will react like an smtp
- But u can also readmails thru web interface.. useful for designers..
- Its inspired and a rip off mailcatcher, a python serv

[2015-01-09 15:47] pedromorgan commented on #29
Gonna try an embed..
http://revel-docs.daffodil.uk.com/manual/index.html

and maihog into this project
https://github.com/daffodil/factory-planner

[2015-01-09 15:56] ian-kent commented on #29
Thanks @pedromorgan - as it happens, I updated the readme yesterday to add a bit more overview, but it's not as detailed as yours! Any chance you could send it as a pull request if you have time? No prob either way, I'll have a look asap.

[2015-01-09 16:10] pedromorgan commented on #29
Cut and Paste this.. Stuff the pull request..

MailHog runs a super simple SMTP server which catches any messages sent to it to display in a web interface. Start MailHog, set the app to deliver to smtp://127.0.0.1:1025, instead of the "live" SMTP server; then browse at http://127.0.0.1:1080 to see the mail that's send/arrived so far.

MailHog is a test smtp server
- MailHog is for developers wanti

[2015-01-09 16:43] pedromorgan opened #30 "Mega Project"
MaiHog is one part of the equation of using email..

A full circle would be to make "MailKit", and "mailhog" as a part of a full loop test env
- click a button and send a pass works
- a creation of account, and send email
- fabricate smtp logins for mobile,
- manage the postfix pretend server
- check vaction messages, and manage forwardings
- serialise emails to actuals files, like real postfix/do

[2015-01-09 16:50] pedromorgan commented on #30
https://github.com/daffodil/go-postfixadmin

[2015-01-09 16:50] pedromorgan commented on #30
https://github.com/daffodil/go-mail2ajax

[2015-01-09 16:52] pedromorgan commented on #30
https://github.com/daffodil/go-sms
Idea here is to send sms messages with a provicer and and a
- outbound email to mobile
- inbound no to to mailbox
== plugin

[2015-01-09 18:18] ian-kent commented on #26
`resizePreview` in [MailHog-UI/assets/js/controllers.js](https://github.com/mailhog/MailHog-UI/blob/master/assets/js/controllers.js) is called in `selectMessage` and `toggleHeaders`, which updates the height of `.tab-content` and `.tab-content .tab-pane`

It might be a timing bug though - AngularJS doesn't (or, didn't) give any straightforward way to hook into "after rendering the changes i'm abou

[2015-01-09 19:24] nexces commented on #26
To be honest I didn't analyze how you've done tabs - is it your own solution or is it some kind of plugin/library.
If I would like to make resizeable content I would go with CSS absolute positioning.
But there are drawbacks - you need to assume that (in case of MailHog UI) left and top side of resizeable content (message preview) is static in terms of size.
For left side it's easy - it can be left

[2015-01-09 19:34] ian-kent commented on #26
The tabs are done with bootstrap, hooked into with angulars `ng-click` binding - AngularUI might provide a nicer solution! I think it was the message headers which caused me the problem - the show/hide full headers button - but I can't really remember.

I'll have another go at fixing it - there's a lot of old unnecessary code and CSS left in there from the previous UI which I've been meaning to re

[2015-01-20 20:19] petercv opened #31 "Docker image isn't updated automatically"
I installed the latest Docker image assuming it would contain the latest version of MailHog, however it doesn't. This is probably due how the project has been setup over multiple GitHub projects. Docker Hub only allows you to watch a single GitHub project so if a fix is done inside of one of the other projects and no changes are required in the main project, the docker image won't be rebuilt.

An

[2015-01-20 23:14] ian-kent commented on #31
:+1: thanks, hadn't even considered it! I'll get it fixed asap (and I'll leave this open to remind me!)

[2015-01-22 14:17] oers opened #32 "Changelog for v.0.1.3 seems inclomplete"
the changelog for https://github.com/mailhog/MailHog/releases/tag/v0.1.3
seems inclomplete

https://github.com/mailhog/MailHog/issues/25 seems to be fixed in 0.1.3 (or isn't it)

[2015-01-24 15:06] ian-kent commented on #32
Thanks @oers, yeah #25 should be fixed, I'll update it

[2015-01-24 15:07] #32 closed

[2015-01-24 15:08] ian-kent commented on #31
I'd forgotten, but there is a [docs/RELEASES.md](RELEASES.md) I should have been updating, which would have trigger the rebuild. I'll update it now and (hopefully) remember to do it in future!

[2015-01-24 15:11] #31 closed

[2015-02-02 13:47] nvcnvn opened #33 "mailhog/data failed to parse boundary"
Here I have a log with mime message: http://pastebin.com/iZ2KMdmR
You can see that here https://github.com/mailhog/data/blob/master/message.go#L119
MailHog assum that boundary should in the format of *boundary="..."* but it the spec I found its not necessary always https://tools.ietf.org/html/rfc2046#section-5.1.1

[2015-02-12 21:03] ian-kent commented on #33
thanks @nvcnvn :+1:

[2015-02-12 21:03] #33 closed

[2015-02-13 07:17] nexces opened #34 "Message list is not scrollable"
Applying "overflow: auto" on "body > div > div > div.col-md-10.content" allow for message list to be scrolled but it doesn't solve problem all the way as the last message is still not visible.

[2015-02-13 08:00] nexces opened #35 "Message list sorting"
I've got currently 30 messages stored in mongodb and it seems that they are sorted _mostly*_ by mongo internal _id field and not by date.

\* take a look at _id of first message

Here is sample:
[code]

However applying simple sort on `created` field is not that simple as mongo is crying about exceeding buffered data limit.
[code]

Creating additional index fixes that:
[code]

[code]

Due to bug #

[2015-02-13 08:02] nexces commented on #24
*BUMP*

Making attachments readable out-of-the-box would speed up my workflow ;)

[2015-02-13 08:08] nexces commented on #35
About mongo sorting when no sorting is defined:
http://stackoverflow.com/a/11599283

[2015-02-18 15:51] GilpinGambler opened #36 "Doc Request: smtp forwarding and API V2"
Let me start by saying I love mailhog.  I just found it and got it up and running in no time.  Great work!  I'd like to take advantage of the feature to forward messages to an SMTP server, but I don't know how to set that up.  I didn't see it in the CONFIG.md file.  I don't know Go (I'm a Java dev), but I found the following snippet in the config.go file from the Server repo:

flag.StringVar(&cfg.

[2015-02-20 10:10] ian-kent commented on #36
Yeah the documentation could be a lot better :smile: I'll hopefully get around to updating it this weekend! I think you've found everything though!

The SMTP auth stuff is [very briefly documented here](https://github.com/mailhog/MailHog/issues/15). Summary is - you can configure via the UI and reuse the config later in the same session, but it doesn't get persisted. You can specify a JSON file (s

[2015-02-20 15:52] GilpinGambler commented on #36
Thanks for getting back to me.  I got it working.

[2015-02-20 16:30] GilpinGambler opened #37 "Enhancement Request - Auto forwarding of all emails to an SMTP server"
I would love to have an option to have all emails forwarded to an SMTP server.  I was thinking of something like using command-line options as such:

Mailhog -outgoing-smtp smtpServer -auto-forward TestServer

This would require the contents of smtpServer to look something like:
{
  "TestServer": {
    "Name": "TestServer",
    "Save": true,
    "Email": "user@emailAddr.com",
    "Host": "webmail.

[2015-02-20 16:49] ian-kent commented on #37
I like it :+1:

[2015-02-23 16:19] huglester opened #38 "Attachments - how to download them?"
Hello,

I am attaching different files, as attachments, how I don't see anywhere in the UI, on where those attachments could be?

I see them in 'mimes', but when I try to download, they are not downloadable..

Thank you

[2015-02-23 17:25] ian-kent commented on #38
Hi @huglester

Could this be related to #24? Attachments are only shown in the MIME section at the moment, and they should be downloadable, but perhaps not in a particularly useful format.

I've been meaning to have at reimplementing MIME handling in the UI, its a bit :hankey: and doesn't support inline images etc either, just haven't had time yet - hopefully soon!

[2015-02-24 08:49] huglester commented on #38
@ian-kent indded this seems very similar. I tried mailcatcher and emails are 'correctly' downloadable. I'll keep using mailcatcher for now, untill this issue is resolved.

btw, those images were 'attachments', not the inline, just in case!

duplicate of #24

[2015-02-24 08:49] #38 closed

[2015-02-24 08:52] huglester commented on #24
+1 on this. attachments should be human readable !:)

thanks for dependency-less mail catcher

[2015-02-24 21:20] #34 closed

[2015-02-24 21:36] #35 closed

[2015-02-24 21:38] ian-kent commented on #35
Hopefully thats ok as a temporary fix - it ensures an index exists on `created`, and sorts them newest first to match the behaviour of in memory storage

I'll open another issue to improve it a bit :smile:

[2015-02-24 21:40] ian-kent opened #39 "Message sorting in UI"
See #35 - add support for message sorting in MailHog UI (and related changes to in memory and mongo storage)

[2015-02-24 22:47] ian-kent commented on #15
I'll close this for now - the implementation should do everything you needed

I might come back to it and clean it up a bit in future, but the original intention for SMTP release was to forward messages to a real destination, which typically doesn't require authentication anyway.

[2015-02-24 22:47] #15 closed

[2015-02-24 22:49] ian-kent commented on #26
I *think* this is fixed with the latest UI changes - reopen if its still a problem :smile:

[2015-02-24 22:49] #26 closed

[2015-02-24 23:01] #28 closed

[2015-02-24 23:06] #29 closed

[2015-02-24 23:07] ian-kent commented on #13
Would this be better handled using something like MongoDB?

Implementing a file based storage backend would be problematic (search, paging, etc) - though not impossible.

Would you need it as a full storage backend, or just an additional option to also spool messages to disk?

[2015-02-24 23:09] ian-kent commented on #30
This confused me completely, sorry! Not even sure what it all means... MailHog is a testing tool, nothing to do with postfix, sms or any other mail services?

[2015-02-24 23:35] #24 closed

[2015-02-24 23:58] ian-kent commented on #27
I think this is fixed, but I'll keep this open until I've had a chance to test it properly

[2015-02-25 15:44] #30 closed

[2015-02-27 09:35] jygastaud opened #40 "Web UI - Authentification"
Hi,

Is there currently a way to have an authentification (at least Basic Auth) for the UI?

Thanks.

[2015-02-27 10:03] ian-kent commented on #40
Hi @jygastaud

Not at the moment - you could proxy it with nginx to add authentication there instead

I'll have a look at adding support for it - shouldn't be too difficult.

[2015-03-01 09:22] huglester commented on #24
Hello, can this be tagged maybe and build packages? thanks :)

[2015-03-01 09:32] ian-kent commented on #24
Sorry, was hoping to get a few more fixes in before I did a release but run out of time! But no problem, I'll do it asap :smile:

[2015-03-01 09:37] huglester commented on #24
Sure! Have them fixed then:)))  thought maybe you forgot about us :)))

[2015-03-05 11:05] rosstimson opened #41 "Underscores being interpreted as spaces (%20) in HTML body links."
We are using Mailhog fairly extensively at work on test instances and members of development teams have been mentioning an issue with regards to underscores in links in the HTML body being wrongly interpreted as spaces.

For example if the email body has a link `email_activation` it gets interpreted as `email%20activation`.  This apparently happens for all links that use underscores as we also see

[2015-03-05 11:06] ian-kent commented on #41
Thanks @rosstimson, i'll investigate asap!

[2015-03-13 13:32] rcrowe commented on #41
I can also replicate this issue if it's of any help.

[2015-03-14 10:03] #36 closed

[2015-03-20 19:35] nathankurtyka commented on #13
+1 on not requiring MongoDB. I totally see the value if it's already part of someone's stack, but I think it might be more common to write emails to disk.

It would be awesome if MailHog could persist messages to directories of .eml files, instead of memory/Mongo

[2015-03-21 22:49] pedromorgan commented on #13
Actually what I want..

Is for mailhog to sump these into a directory..

Mainly cos it would  be interesting to create a mailhog reader..
And embed a parser and mailserver..
for fun...

[2015-03-26 08:13] stevebelicha commented on #41
Yes I can replicate it too

[2015-03-26 12:12] ian-kent commented on #41
thanks all, and sorry, haven't had a chance to look at this yet - hopefully will soon! (but PR's welcome if anyone does has a fix)

[2015-03-27 11:27] nayyden opened #42 "Panic when using -ui-bind-addr (flag redefined: listen)"
### Problem
I get panic when trying to override the UI or API bind address.

### Version
v0.1.6 binary release

### Trace:

**$ ./MailHog_linux_amd64 -ui-bind-addr=":8026"**
[code]

[2015-03-27 11:30] ian-kent commented on #42
thanks @nayyden, should have time to look at it this weekend

[2015-03-27 11:32] nayyden commented on #42
Thanks @ian-kent !
I tried to search it in the code but i could not find a registration of the listen flag.

[2015-03-27 11:37] ian-kent commented on #42
it'll be coming from `github.com/ian-kent/gotcha`, which needs to be destroyed asap :smile: might try and refactor that out this weekend... it was my example of "i'm sure golang needs a web framework", how wrong I was!

[2015-04-14 14:51] jygastaud commented on #41
Bug confirmed here too.

@ian-kent any news regarding that issue? Can you drive us where to look at to try to fix it?

[2015-04-15 10:18] eelkeblok opened #45 "Offer sendmail replacement"
I was looking into mailhog, but my application uses sendmail to send its mail. Any chance of adding a drop-in replacement for sendmail that would instead send its messages to mailhog? Or is this already possible and am I missing something (I am aware of the possibility of configuring sendmail to use smtp, but that seems quite involved and ultimately a roundabout way of getting an email from a comm

[2015-04-15 11:33] NamPNQ opened #46 "Mail subject utf8 error"
Subject	=?utf-8?q?I=27some_test?=

[2015-04-19 17:06] #42 closed

[2015-04-19 17:12] ian-kent commented on #41
Sorry its taken a while to get around to looking at this - could anyone provide some example content please?

Just tried to reproduce it, but with a basic HTML e-mail it works as expected:
[code]

Wondering if it might be something to do with content encoding

[2015-04-19 17:25] #46 closed

[2015-04-19 17:30] ian-kent commented on #45
It's possible, but sendmail has a lot of command line options - are you just after the basic use-case of piping SMTP content via STDIN?

If it's just that, it should be fairly trivial to implement (ignoring the problem of discovering the running MailHog instance)

[2015-04-20 06:31] eelkeblok commented on #45
Yup, that's it. I have an application that assumes it can use sendmail to send emails. It has you configure a command line that lets it send email contents.

[2015-04-20 13:22] valguss opened #47 "fix for issue #42 seems to have broken this"
I get the following when trying to install on a new system:

# github.com/mailhog/MailHog
github.com/mailhog/MailHog/main.go:42: cannot use cb (type func("net/http".Handler)) as type func(*app.App) in argument to "github.com/mailhog/http".Listen
github.com/mailhog/MailHog/main.go:51: cannot use cb1 (type func("net/http".Handler)) as type func(*app.App) in argument to "github.com/mailhog/http".List

[2015-04-20 13:39] ian-kent commented on #47
thanks @valguss - possibly missed a commit somewhere, I'll have a look asap

[2015-04-20 13:39] #47 closed

[2015-04-20 13:39] ian-kent commented on #47
hopefully sorted now :)

[2015-04-20 13:41] valguss commented on #47
That appears to have sorted it. Thanks :)

[2015-04-23 12:26] revolutionate commented on #45
For PHP this would be very useful - otherwise you need to run e.g. sSMTP as well. MailCatcher already does it via its `catchmail` command, by the way.

[2015-04-30 13:45] wienczny opened #49 "Duplicate Content-Disposition Header on File Download"
When trying to download an attached file I get an error about duplicate Content-Disposition headers. Using curl I get this:
[code]
The returned file seems to be correct, but browsers like Chrome and Firefox don't accept it because the headers are broken ;-(

[2015-05-04 09:59] huglester opened #50 "some escaping issue?"
Hello again :)

I have spotted one more problem.
For example I get this email to mailhog:

[code]

it is the source. the soruce itself is the same in both mailcatcher and mailhog, but the HTML rendered in mailhog is currupt.

For example link ir not `change_password` but `change password` (without underscore)

Here are the headers from mailhog:
[code]

Here are the headers from mailcatcher:
[code]

[2015-05-04 15:05] slonoed commented on #41
@ian-kent seems like problem in HTML renderer.

I use send to mailhog your html, and in Plan Text tab all OK
[code]

But in HTML tab
[code]

[2015-05-20 19:06] #49 closed

[2015-05-20 19:09] ian-kent commented on #41
Thanks @slonoed - can you provide the full SMTP message you used, I can't reproduce the bug with just the headers in the example I gave

[2015-05-20 19:11] ian-kent commented on #50
Thanks @huglester - is this is the same as #41? I'll try to reproduce using your message content, haven't been able to so far.

[2015-05-20 19:19] #41 closed

[2015-05-20 19:20] ian-kent commented on #50
I think this is fixed now - RFC2047 encoding was replacing a "_" with a " " before decoding, which is correct when applied to headers, but not the message body.

Please reopen if it hasn't been fixed :smile:

[2015-05-20 19:20] #50 closed

[2015-05-20 19:20] ian-kent commented on #41
I think this is fixed now - RFC2047 encoding was replacing a "_" with a " " before decoding, which is correct when applied to headers, but not the message body.

Please reopen if it hasn't been fixed :smile:

[2015-05-20 19:45] ian-kent commented on #45
How about this? https://github.com/mailhog/mhsendmail

:smile:

[2015-05-20 19:45] #45 closed

[2015-05-20 20:56] thaJeztah commented on #45
Nice! Will there be a binary distribution of that as well? Could be as part of the MailHog Docker image

[2015-05-20 20:56] thaJeztah commented on #45
LOL, missed the release notes :+1:

[2015-05-21 02:57] anoland opened #51 "Releases page for .1.7 is 404"
I get a fancy looking jedi octocat page when I try to download the latest release.

[2015-05-21 06:16] ian-kent commented on #51
Thanks @anoland, should be fixed now - forgot the `v` in the tag :smile:

[2015-05-21 06:16] #51 closed

[2015-05-21 18:30] csiszarattila commented on #45
Can you explain how i can use mhsendmail from the binary distribution? Like for php's sendmail_path?

[2015-05-21 19:10] ian-kent commented on #45
You'll need to download the [mhsendmail binary from the releases page](https://github.com/mailhog/mhsendmail/releases/tag/v0.1.7).

Once you've done that, it should be a simple drop-in replacement for sendmail - although the command line flags will be slightly different. A brief overview is on the [mhsendmail readme](https://github.com/mailhog/mhsendmail).

When I get a chance I'll add some info t

[2015-05-21 20:50] csiszarattila commented on #45
Thanks!
I somehow missed that the mhsendmail released in a separated binary.

[2015-05-22 06:43] eelkeblok commented on #45
Awesome. Thanks a lot.

[2015-05-22 15:56] grega commented on #40
:+1: I'd love to have the option to require basic auth as well.

[2015-05-27 17:15] ian-kent commented on #40
I've added support for HTTP auth, haven't done a new binary release yet though.

Let me know what you think - not really sure how well it'll work, bcrypting a password so often will probably be too slow. I'll probably switch to using cookies and api tokens to speed it up when I have a chance!

[2015-06-03 07:31] huglester commented on #50
Hello,

yes it is fixed now!:)

[2015-06-12 16:03] patie commented on #12
its fixed ? for me MailHog dont work with swiftmailer 5.4.1 i dont know why... "Exception occurred while flushing email queue: Connection could not be established with host....." any idea please ?

[2015-06-17 15:46] GabLeRoux commented on #40
If someone's looking for ldap login, I haven't tried yet, but [nginx-auth-ldap](https://github.com/kvspb/nginx-auth-ldap) may be useful here if someone tries to proxy with nginx for auth.

[2015-06-20 08:35] TheShiftExchange opened #52 "Open links in new window"
Hi,

MailHog is awesome.

Quick issue/question - is there a way to force all email links to be opened in a new window?

When I'm viewing my emails - if I click on a link in the email it opens it within the MailHog tab - I'd rather it just open a new window so MailHog stays as it was?

[2015-06-22 14:22] raphaelfsousa opened #53 "Multiple receivers"
Hi,
I don't know if that is a bug, but I noticed that the UI is only displaying the last email address when the email has multiple receivers on field 'to'.

Also, congrats for the great job on MailHog!

Thanks!

[2015-07-05 10:51] adrianmak opened #55 "is web ui included in the binary ?"
I downloaded the binary and ran in ubuntu.
Then accessed the web ui thru http://dev.local.net:8025
No response.

Then， netstat -nat, no 8025 port is listening

[2015-07-05 16:07] ian-kent commented on #55
It should be, what log output do you get?

Without any configuration, MailHog should output something like this on startup:

[code]

[2015-07-05 23:06] adrianmak commented on #55
I'm sorry. I forgot mailcatcher is running on the same box with port 1025.
Causing a conflict with MailHog stopped to run

[2015-07-05 23:06] #55 closed

[2015-07-09 09:17] tszpinda opened #56 "verbose logging using docker image"
Loving the project!

Is there a way to make docker image not to print content of attachments into the logs? as it gets very verbose with bigger attachments.

[2015-07-15 15:35] chuntley commented on #22
I'm having this same issue. The headers look correct but the email is being rendered in plain text. Is there a way to force all emails to be rendered as HTML as a workaround?

[2015-08-05 12:45] stucki opened #57 "MailHog sendmail not working as expected"
I have a MailHog daemon running with default options.
I'm currently trying to use ```MailHog sendmail <email addr>``` to send a mail to MailHog.
(Later, my goal is to set PHPs ```sendmail_path = "/path/to/MailHog sendmail"```.)

However, this does not work as expected. ```MailHog sendmail``` is always trying to bind to ```localhost:1025```, which is already used by the MailHog daemon.

When I try

[2015-08-05 13:14] ian-kent commented on #57
thanks @stucki, I'll have a look asap

[2015-08-13 22:57] wespday opened #58 "Feature Request: Internet Explorer Support"
The site doesn't work in Internet Explorer.
The script debugger shows an error: 'EventSource' is undefined.

According to StackOverflow IE doesn't support this:

http://stackoverflow.com/questions/24498141/is-there-a-microsoft-equivalent-for-html5-server-sent-events

They also suggest a work-around:
https://github.com/remy/polyfills/blob/master/EventSource.js

[2015-08-14 00:04] wespday opened #59 "Feature Request: Support Bypassing TLS Certificate Verification"
ReleaseMessage in the UI is not working with my SMTP server.

Trying mhsendmail from the command line returns this error:

    error sending mail
    2015/08/13 18:33:46 x509: certificate signed by unknown authority

There is a discussion of a similar issue here:
https://groups.google.com/d/msg/golang-nuts/W95PXq99uns/Vaez9gyO-BkJ

[2015-08-23 16:47] vialcollet opened #60 "Can't connect to localhost:1025"
Hi.
I have tried to use MailHog which seems promising.
However, after running the binary (on Windows 7), I can access the Web UI but my php application returns that it can't connect to localhost:1025 (timed out).
I am using swiftmailer with the following config:

[code]

Am i missing something?

Thanks in advance

[2015-08-25 17:08] t0xicCode commented on #57
Turns out, the `MailHog sendmail` was introduced in commit 9dc6ad8ed404efc048f683a747c317ff8a0a99ae, which is after the latest tag, v0.1.7 (d9dc0b4edf558c398fc3fd679891f36cba61c2ce).

[2015-09-04 00:27] danielwhite opened #61 "Support for compression of HTTP responses"
We're using MailHog for testing in an environment where testers and deployments are geographically distributed.

When the inbox has more than 50 messages, then refreshing the inbox can result in a response that can be 10MB or more. With compression, this reduces the response for a full 50 messages to a few hundred KB.

While we could put MailHog behind a real web-server, this would be an extra com

[2015-09-23 21:59] waynew opened #62 "Feature Request: Next/previous navigation from within email"
I've got a ton of emails that I'm "sending". It would be super nice if I could just click a button from within the email ( :arrow_left: / :arrow_right: ) that would take me to the prev/next emails so I don't have to go back to the inbox and then click on another email.

[2015-09-23 22:03] waynew opened #63 "Feature Request: Message size from the inbox view"
It would be super nice if (like Mailcatcher) it would display the message size in the inbox view. There are times when I've got several similar emails, but the message size alone would make life very nice.

[2015-10-06 18:06] ian-kent commented on #63
:+1: not sure when i'll have time, but PR's welcome!

[2015-10-06 18:07] ian-kent commented on #62
:+1:, awesome idea, PR's welcome!

[2015-10-06 18:08] ian-kent commented on #61
thanks @danielwhite :+1: merges are done so should work if building from source, or it'll be in the next release!

[2015-10-06 18:12] ian-kent commented on #60
Hi @vialcollet

Are any errors output when you start MailHog? If it can't bind to the specified port it should output something similar to these:
[code]

I'll try to reproduce the problem on Windows 7 when I get a chance, but it should just work :smile:

[2015-10-06 18:13] ian-kent commented on #59
Thanks @wespday, good idea :+1: I'll have a look when I get time, or PR's are welcome :smile:

[2015-10-06 18:15] ian-kent commented on #58
Hi @wespday - which version of IE are you using?

My first suggestion would be to upgrade or not use IE :grinning: but I realise that's not always possible!

I'm not entirely convinced about supporting older browsers (sounds like a potential maintenance nightmare), but if its just this polyfill I wouldn't mind too much.

I'll have a look when I get a chance, otherwise PRs are welcome!

[2015-10-06 18:16] ian-kent commented on #57
Sorry, that'd be my fault! Hopefully I should have the latest code released in in the next day or two!

[2015-10-06 18:17] ian-kent commented on #56
Thanks @tszpinda

No configurable way of changing log output at the moment (from MailHog) - a temporary workaround would be to pipe the output to `/dev/null` or something like that.

I'll have a look at making MailHog log output a bit more configurable!

[2015-10-06 18:19] ian-kent commented on #53
Thanks @raphaelfsousa

It was partly by design, and partly forgotten - for me, the majority of e-mails would have only one destination address, but I did mean to try and support multiple To addresses.

I'll have a look when I get a chance, or PR's are welcome!

[2015-10-06 18:20] ian-kent commented on #52
Thanks @TheShiftExchange

There isn't at the moment, but it should be possible (ideally standard browser navigation should work, e.g. Cmd/Ctrl click)

I'll have a look when I get a chance, or PR's are welcome!

[2015-10-06 18:23] wespday commented on #58
I'm on IE11

[2015-10-06 18:24] ian-kent commented on #58
:sob: didn't realise new IE didn't support it either! polyfill it is!

[2015-10-06 19:21] ian-kent commented on #61
compression seems to break the event source connection, taking it back out while I investigate

[2015-10-06 19:39] #63 closed

[2015-10-06 19:45] stucki commented on #57
Thanks!

[2015-10-06 20:08] ian-kent commented on #58
i'll leave this for now - i read the link you posted, websockets would be a much better solution, and would work in all new browsers (so no need to maintain event stream code) - i'll do that instead, it'll just take longer!

[2015-10-09 16:22] jackc opened #64 "Can't follow links to X-Frame-Options SAMEORIGIN sites"
Clicking a link in message body to any site that sets same origin policy fails. Mail area just goes blank. Appears to be from mail area being an iframe. It would be nice if clicking a link either followed the link normally or opened in new tab.

[2015-10-12 03:37] danielwhite commented on #61
Ouch. Sorry I didn't spot that. I'm happy to track down and fix the problem if nothing obvious has jumped out already.

[2015-10-12 13:09] ian-kent commented on #64
thanks @jackc, hopefully a straightforward fix, i'll have a look asap

[2015-10-12 13:11] ian-kent commented on #61
I haven't had a chance to look properly yet, it may well be an issue with [goose](https://github.com/ian-kent/goose) rather than MailHog - but yeah I'd appreciate it if you do have time to investigate!

[2015-10-14 15:00] jackc opened #65 "MailHog eventually hangs, too many open files"
After MailHog has run for a couple days, it eventually becomes unresponsive.

This is running on Ubuntu 14.04 64-bit with the binary downloaded from Github.

This the last few lines in the log output:

[code]

[2015-10-15 06:16] ian-kent commented on #65
Thanks @jackc, definitely a bug!

[2015-10-29 22:22] jackc commented on #65
@mikechau and I have been looking into this. We don't have a solution, but have narrowed down the problem some.

Running `lsof` on a MailHog server that has been running a while yields files files with "can't identify protocol". A Google search led us to https://idea.popcount.org/2012-12-09-lsof-cant-identify-protocol/ which indicates the problem has to do with half-closed connections. Watching `l

[2015-11-04 11:45] garethellis36 opened #66 "Enabling Jim crashes MailHog (Windows AMD64)"
When I enable Jim, MailHog crashes on sending an email.

Environment:
- MailHog version v0.1.8 Windows AMD64
- Windows 7 Professional SP1 x64

Steps to reproduce:
- Enable Jim via web control panel
- Send email via MailHog SMTP

Console output:
[code]

[2015-11-06 09:20] dariuskt commented on #66
exact same issue with* v0.1.8/MailHog_linux_amd64

[code]

adding a cli option to hide jim from web interface could be quick solution.

[2015-11-06 11:50] dariuskt commented on #66
issue is 100% reproducible with
* older releases (0.1.3~0.1.8); golang 1.3 as above (didn't tested older releases)
* 0.1.8 and golang 1.4
* docker container

are there some dependencies or setup i'm missing?

[2015-11-10 23:57] AlaRuba opened #67 "Send Mail Programatically"
Hi,

I haven't seen any sample code in Go on how to send an email to the MailHog server. The RESTful API seems fuzzy on this, because it doesn't describe an endpoint I should hit. Is this possible in MailHog, because I don't want to send it from the command line.

[2015-11-13 02:38] AlaRuba opened #68 "MailHog stops accepting mail"
Hi,

I noticed sometimes according to the logs, MailHog refuses to go from DATA state to MAIL state and refuses to accept new mail. Is there a way to force it to go mail state?

[2015-11-16 09:41] oers commented on #25
Sorry for giving feedback too late, but this doesn't seem to work,

[code]
For http://10.100.160.27/mailhog

and
[code]

[2015-11-17 10:18] huglester opened #69 "API v2 not working?"
Hello,

Is APIv2 working?

Sending delete to api/v2/messages does not work.
v1 works good.

Thanks

[2015-11-17 12:32] burriko commented on #25
Just a +1 to say that I'm also trying to proxy through Apache, and have the same issue as oers with the latest version of MailHog.

[2015-11-17 14:35] huglester opened #70 "Mailhog API"
Hello,

I am doing some MailTest with phpUnit.

And came up with some problems, for example, I have this from
/api/v1/messages/ID:

[code]

If I understand correct,
$email['MIME']['Parts'][1]['Body'] - is plain text
$email['MIME']['Parts'][2]['Body'] - HTML

as you can see, some lines are 'exploded' into two lines, like password:
[code]

is there a way to 'combine' this into original message?
Beca

[2015-11-20 22:15] iefbr14 commented on #57
See my pull request: https://github.com/mailhog/mhsendmail/pulls
for a bug fix to the mhsendmail code.  This code is shared and will fix the issue you are seeing.

[2015-12-06 21:11] #52 closed

[2015-12-06 21:19] ian-kent commented on #70
Could you post console logs from MailHog when it receives the example e-mail - I assume its being received like that since MailHog shouldn't be changing the data it receives following the `DATA` command, but it might get broken somewhere when the message is parsed.

[2015-12-06 21:23] ian-kent commented on #69
Hi @huglester

APIv2 isn't (yet) a full reimplementation of APIv1, only features which needed a significant API change for the new UI have been added. You should use APIv1 if there isn't an APIv2 equivalent.

See https://github.com/mailhog/MailHog-Server/blob/master/api/v2.go#L29-L42.

[2015-12-06 21:23] #69 closed

[2015-12-06 21:29] ian-kent commented on #68
Hi @AlaRuba

Could you provide example logs please? MailHog should switch to MAIL state once a message has been accepted. Forcing it to MAIL state would be the SMTP client sending `\r\n.\r\n` to signal the end of the message. If that doesn't happen for some reason, MailHog would be stuck in DATA.

If that sequence has been sent by the client there must be a bug somewhere, log output should help na

[2015-12-06 21:34] ian-kent commented on #67
Hi @AlaRuba

There isn't an API endpoint for sending mail - MailHog can only receive messages via SMTP.

[2015-12-06 21:34] #67 closed

[2015-12-06 21:40] #66 closed

[2015-12-06 21:41] ian-kent commented on #64
this should be fixed by https://github.com/mailhog/MailHog-UI/commit/fc52cb6e8ed4311230e36addc341c6d3bc170592

[2015-12-06 21:41] #64 closed

[2015-12-06 21:45] ian-kent commented on #65
sorry its taken so long to reply, and thanks for looking into it!

does the fix you have in https://github.com/jackc/MailHog-Server/commit/dc692bdccc135704e82d70406da550bd8942fc8d solve the problem?

[2015-12-07 14:05] jackc commented on #65
Well, it at least works around the problem. Not sure if there is better solution, but sending a keep-alive message every minute does work.

[2015-12-08 09:19] oers commented on #25
@ian-kent could you please reopen this issue? Or should I create a new one?

[2015-12-08 12:45] nervo opened #71 "Provide a standard "version" command line parameter"
What about providing a easy parsable and de-facto standard verison command line parameter ?

Something like:

    $ mailhog --version
    0.1.8

[2015-12-15 12:38] huglester commented on #70
Hello,

sorry for a delay! Here is the example of 'Data':

[code]

it is from mailhog console.
So the 'link' part looks like this: /auth/forgot_password/e304c1d727=\r\n3e959bcf8589d0c65f456b286b65b42871decc20a18995b3076bee\r\n\r\nPlease note:

Thank you

[2015-12-15 12:44] huglester commented on #70
I believe it is the 'Swiftmailer' who is encoding these types of email. But maybe there is a sollution to this?

[2015-12-16 10:05] Venorcis opened #72 "Viewer not working correctly"
Please see the screenshot below for what is happening to our mails in the MailHog UI. Note that when I download the EML and open it in e.g. Outlook, the mail looks fine.

![mailhog](https://cloud.githubusercontent.com/assets/3490872/11837999/8f23612c-a3e4-11e5-99b0-1bc7f06395d9.png)

The same happens for non-HTML mails by the way.

[2016-01-03 15:55] huglester opened #73 "Dockerfile usage"
Hello everybody!

So I run the container like so:
[code]

but localhost:8025 not locahost:1025 are not responding.
Ports should be exposed, no?

Thank you

[2016-01-03 22:47] huglester commented on #73
had to do something like that
docker run -d -p 1025:1025 -p 8025:8025 mailhog/mailhog

[2016-01-03 22:47] #73 closed

[2016-01-15 08:42] oers opened #74 "Limit the amount of mails Mailhog saves"
I have a long running Installation for a test environment.
To speed up the reaction times of the gui I would like to:

 - limit the maximum age of a mail kept (e.g. 24 hours)
and/or
- limit the amaount of files kept (LIFO) like 50

[2016-01-18 14:30] rohanabraham opened #75 "Web portal - Disconnected"
I always get the web portal marked as disconnected.

![screen shot 2016-01-18 at 14 29 53](https://cloud.githubusercontent.com/assets/4366633/12393799/f6a61090-bdef-11e5-97a1-68ad3b697cdd.png)

The SMTP service works fine, I can see these messages appearing on the terminal but I just can't see emails appear on the web portal.

I can see that this URL returns a 404, http://ipaddress:8080/api/v1/eve

[2016-01-22 09:22] vincebowdren commented on #59
If the smtp server has any certificates at all, but not for the name by which you're contacting it, then you get a different error message:

Again, it'd be nice for mailhog to have the option to just connect unencrypted if that's what the smtp server is expecting.

[2016-02-09 05:55] #70 closed

[2016-02-18 16:02] espen opened #78 "Read/Unread state for email and show unread count in title"
1) Mark email as read when clicking on the email.

2) Update title when receiving new email or email is set as read. Example: MailHog (2)

I find this useful as I often do some testing in one tab and would be nice to just see the MailHog tab title update with a new count instead of going to that tab and checking if the email was received.

[2016-02-19 07:11] rohanabraham commented on #75
If anyone else experiences this issue, this has been fixed. It was missing -api-bind-addr

I started the script like this
/root/mailhog/MailHog_linux_386  -smtp-bind-addr "IP_ADDRESS:1025" **-api-bind-addr "IP_ADDRESS:8080"** -ui-bind-addr "IP_ADDRESS:8080"

[2016-02-19 07:12] #75 closed

[2016-02-22 12:38] paolomainardi commented on #25
I confirm the problem, any solution out there ?

[2016-03-01 08:21] oers opened #79 "When searching for messages the result cannot be opened"
1. Use the search field to search for an an existing E-Mail (in my case an email)
2. Click on the mail
3. Mail will not open

[2016-03-01 08:23] oers commented on #25
I am trying to build a solution for this in https://github.com/oers/MailHog-UI.
But it is not working as expected at the moment. I hope to create a fix for this, when I find the time :)

[2016-03-01 17:54] 4lyn commented on #22
Same problem here. All my emails seen as plainText. It would be the perfect tool otherwise

[2016-03-01 23:33] chuntley commented on #65
Could this fix be merged into a new release to download?

[2016-03-10 21:37] kusmierz opened #81 "ipv6"
I'm trying to run MailHog without docker, but it listening only on tcp6, see below.

[code]

[2016-03-12 14:58] hamrant commented on #40
`MailHog -auth-file=docs/example-auth
flag provided but not defined: -auth-file`

[2016-03-13 18:22] ian-kent commented on #81
Hi @kusmierz

I'm not able to reproduce it on a mac - does MailHog still work as expected? I'm wondering if it's related to this: https://groups.google.com/forum/#!topic/golang-nuts/F5HE7Eqb6iM

It looks like I could force it to use IPv4, but that would complicate also supporting IPv6

[2016-03-13 18:24] ian-kent commented on #79
Hi @oers

I can't reproduce it locally, following the same steps appears to work as expected.

Could you give a bit more info, e.g. how many messages MailHog was storing, which page you were on, are you running a single MailHog binary or separate Server/UI binaries, or anything else you can think of that may be relevant!

[2016-03-13 18:31] ian-kent commented on #78
Thanks @espen

This is sort of covered by https://github.com/mailhog/MailHog-UI/issues/7, which admittedly has been open for a very long time...

I've tended to avoid this because I think it'll get complicated quickly (and probably introduce a pile of bugs), but I'll have another look at it!

[2016-03-13 18:31] ian-kent commented on #74
thanks @oers :+1: good idea!

[2016-03-13 18:42] #72 closed

[2016-03-13 18:43] ian-kent commented on #72
thanks @Venorcis, it was only looking for `Content-Transfer-Encoding` values in lowercase, should be fixed now

[2016-03-13 18:45] ian-kent commented on #68
Hi @AlaRuba - I'll close this for now, feel free to reopen the issue if it happens again (please include example logs)

[2016-03-13 18:45] #68 closed

[2016-03-13 18:47] #65 closed

[2016-03-14 09:43] kusmierz commented on #81
It was on Ubuntu. But it seems each and every linuxes works the same. Try CoreOS on VM or DigitalOcean.

[code]

[2016-03-15 14:39] kusmierz commented on #81
See also docker/docker#13914.

[2016-03-20 17:45] ian-kent commented on #81
Thanks @kusmierz

I've tested it using CoreOS in a VM, and get the same output as you. But it still works as expected, e.g. using `curl -4 http://localhost:8025`, which suggests the ports are actually open.

Interestingly, but maybe unrelated - if I follow [this guide to remove ipv6 addresses](https://github.com/coreos/docs/issues/343), restart MailHog, then run `sudo netstat -lanp | grep 25` agai

[2016-03-20 18:04] ian-kent commented on #13
This is partially implemented in [v0.2.0](https://github.com/mailhog/MailHog/releases/tag/v0.2.0) - everything except search should work.

You can pass in `-storage=maildir` to output data to file, and use `-maildir-path=/path/to/maildir` to control the output directory.

It currently writes files in a very MailHog specific format - I'll eventually make this fully compatible with [Maildir](https:/

[2016-03-20 18:05] ian-kent commented on #22
Thanks for the updates @chuntley @4lyn - could you provide example SMTP messages plus the log output for MailHog receiving them.

[2016-03-20 18:06] ian-kent commented on #25
Closing this as I think it's been fixed by @oers contributions

[2016-03-20 18:06] #25 closed

[2016-03-20 18:07] ian-kent commented on #57
Closing this as I think it's been fixed

[2016-03-20 18:07] #57 closed

[2016-03-21 09:53] kusmierz commented on #81
Hm, it's really weird, curl -4 http://localhost:8025 returns output as expected and it's really there.

I'd rather do not turning off ipv6...

Nevertheless, it seems it works very well...

[2016-03-22 12:22] ftaeger commented on #71
+1

[2016-03-25 10:24] 4lyn commented on #22
Simple php code :

[code]

I only see the "Plain text" and "Source" Tab in the MailHog web interface

MailHog log :

2016/03/25 11:19:58 [SMTP 127.0.0.1:50089] Starting session
2016/03/25 11:19:58 [SMTP 127.0.0.1:50089] [PROTO: INVALID] Started session, switching to ESTABLISH state
2016/03/25 11:19:58 [SMTP 127.0.0.1:50089] Sent 35 bytes: '220 mailhog.example ESMTP MailHog\r\n'
2016/03/25 11:19:58

[2016-04-06 14:15] MikeParkin opened #84 "Documentation for TLS"
Hello,

Looking at the source it appears that you can run Mailhog with an SSL certificate.

Is this possible? If so, are there any docs to explain how to configure this?

Thanks
Mike

[2016-04-06 14:17] wunc opened #85 "Incorrect times displayed in Inbox when using maildir storage"
When using maildir storage for the messages, the displayed date of each message in the inbox is not correct. It seems to be showing the date/time that the client loaded the email, and not the actual date that the server received it. If you click on the reload button, then every email in the inbox shows "a few seconds ago" in its date column, regardless of when it was sent or received.

This doesn'

[2016-04-08 08:35] peterromfeldhk commented on #71
+1

We installed mailhog via bashscript, which just checks if the binary exists, and then installs or not.
Now i want to update it, and cant check the current version... and i don't wanna go manual to each server to update it!

[2016-04-08 12:18] ian-kent commented on #71
Sounds good, I'll add it for the next release!

[2016-04-11 02:00] augustinex80 opened #86 "how to run mailhog on mac os"
I downloaded MailHog_darwin_amd64 and MailHog_darwin_386. they both have no expanded-name. How can I run Mailbog.

Thank you.

[2016-04-11 06:01] maijs commented on #86
@augustinex80 One of the easiest way to run mailhog on MacOS is to use mailhog formula for [Homebrew](http://brew.sh/).

Run `brew update && brew install mailhog` and you're done. If you require additional help with setting up mailhog with Homebrew, check out [this page](https://github.com/maijs/homebrew-mailhog).

[2016-04-11 08:51] hyperized opened #87 "Force bind to IPv4"
Could we have a commandline option to be available to force bind to IPv4?
We're running Mailhog behind a NAT and when I bind: `-smtp-bind-addr 0.0.0.0:2525` I get:

[code]

I guess this is to be expected, but I would like to have a IPv4 bind option like: `-force-ipv4` so we can NAT this connection to the appropriate external IP where required.

[2016-04-11 10:20] iamwithnail commented on #86
That answer should really be on the main page!  Completely non-obvious if you're coming into this for the first time.

[2016-04-11 13:09] augustinex80 commented on #86
docker？ sorry,  I asked a simple question. If docker is the right way. I will follow the docker's document. thank you! @maijs @iamwithnail

[2016-04-11 14:07] esiqveland commented on #85
I am also seeing this, though it looks like the API response has the correct date for the email.
Maybe a UI issue?

[2016-04-11 20:13] esiqveland commented on #85
I think this might be the issue here:
After `List() ` from the disk based `Storage`, Created is set to `time.Now()` here:
https://github.com/mailhog/data/blob/master/message.go#L102

[2016-04-11 20:44] GREsau commented on #85
Alternatively, you could get the modification time of each email file using something like [Readdir](https://golang.org/pkg/os/#File.Readdir) and use that as the Created time

[2016-04-11 21:04] esiqveland commented on #85
That sounds simpler, but maybe more fragile?
I think it would be sufficient for my use case though.

[2016-04-13 19:05] esiqveland commented on #85
I have a suggestion for this here: https://github.com/mailhog/storage/pull/2

[2016-04-14 03:39] Jaggle opened #88 "maybe readme.MD should be more detailed"

[2016-04-14 06:39] #88 closed

[2016-04-16 15:33] hyperized commented on #87
The work around we used was to simply disable IPv6 on the machine, but that really is just what it is, a work around :).

[2016-04-20 21:20] philippe-granet opened #89 "ISO88591_MAP_ENCODED is not defined"
Mails encoded with ISO8859 doesn't display correctly, i've got this javascript error:
[code]

I think some js dependencies are missing (iso88591_map.js and sjis_map.js), in /assets/js/strutil.js:
[code]

[2016-04-25 12:22] hugochinchilla commented on #22
+1 Happens for me too

[2016-04-28 09:19] bardware opened #91 "file filesize.min.js.map missing"
When I call `http://127.0.0.1:8025/#` the message `filesize.min.js.map missing` appears once in a while in the console.
I run `MailHog_windows_amd64.exe` as provided on github `MailHog v0.2.0`

![20160428_mailhog](https://cloud.githubusercontent.com/assets/802702/14881052/a992a1f0-0d32-11e6-9778-482a53398aa5.PNG)

[2016-04-28 09:24] bardware opened #92 "explanation of command line parameters incomplete"
I call `MailHog_windows_amd64.exe -help`  on the command line.
[code]

The storage argument misses the option `maildir`

[2016-04-28 10:13] riffraff commented on #79
also happens for me.
OSX 10.11.4, mailhog installed through homebrew and managed through homebrew services, using chrome

From the main page, at http://localhost:8025/, type something in search, hit enter, results are shown.

On clicking, this appears in the js console
[code]

obviously ids and content change, but the same happens clicking on any message in the search results.

[2016-05-01 18:59] crazy-max commented on #22
+1 For me too with the basic example from PHP website [Example #4 Sending HTML email](http://php.net/manual/en/function.mail.php).

![mail](https://cloud.githubusercontent.com/assets/1951866/14943677/7eb5a4b4-0fdf-11e6-85f0-72b8151fe47a.png)

[2016-05-01 19:07] crazy-max opened #94 "SMTP error when remove all messages with storage maildir"
Hi,

First of all thank you for this great application!

I plan to integrate it on [Neard](https://github.com/crazy-max/neard) but there is a problem during the removal of all messages with the parameter `-storage maildir`.

When i remove all messages via the WebUI the maildir is completely removed and next i've got an error when i want to send messages :

[code]

Would be better to only remove th

[2016-05-01 19:11] crazy-max commented on #94
Btw it does not happen all the time and i'm on Windows 10 64bits

[2016-05-26 19:44] akreal commented on #22
I think the problem is that some messages have `Content-type` header, while MailHog checks only `Content-Type` one:
https://github.com/mailhog/MailHog-UI/blob/master/assets/js/controllers.js#L461

[2016-05-26 20:06] crazy-max commented on #94
Cannot reproduce since i posted this issue

[2016-05-26 20:06] #94 closed

[2016-05-27 09:13] 4lyn commented on #22
Nice shot !
It works for me now. Thanks a lot !

[2016-05-28 15:01] crazy-max commented on #22
Maybe we can add an other control over the content of html tags ?

[2016-05-31 06:36] vov32 opened #95 "UTF-8 encoding of attachments name"
I think there is utf-8 encoding issue with attachments names.
![screenshot4](https://cloud.githubusercontent.com/assets/3819313/15665342/2a70d838-2713-11e6-969a-859703f086b0.png)

[2016-06-03 07:54] thanosp opened #96 "Attachments slow the whole application"
It seems every attachment's contents are output in the same api call used for listing the emails.
That means every time you load the app it has to practically download all the attachments of the emails it found

[2016-06-09 22:16] nthum commented on #60
Same here. It hangs connecting to localhost:1025 but Web UI seems to be fine

[2016-06-10 19:18] wttw opened #97 "Header case-sensitivity"
If I send mail with a "Message-Id" header, mailhog will add an additional "Message-ID" header.

(No patch right now, as I can't "go get" mailhog, let alone build it)

[2016-06-16 14:08] hkirsman opened #98 "Doesn't support cc or bcc?"
I don't get any e-mails that are in the cc or bcc in the header. When I removed mailhog, cc works. E-mail gets sent properly.

[2016-06-17 07:48] bunam commented on #27
With https://github.com/mailhog/MailHog/releases/v0.2.0 (linux 386 on CentOS 5)
the bug isn't fixed
Mails was well displayed with mailcatcher ;p

[2016-06-23 19:07] rfay opened #99 "PHP Configuration hints"
I had loads of trouble trying to get MailHog (with or without mhsendmail) to work with php-fpm (MacOS, homebrew, php5.6, mailhog 0.2)

I finally got it going with this in php.ini:

sendmail_path = "/usr/local/bin/mailhog sendmail test@example.org"

I can do a PR to add that simple recipe to the docs if you'll direct me where to put it.

(I do see that hint in https://github.com/mailhog/mhsendmail/

[2016-07-04 16:51] arnou commented on #89
My fields subject and from don't display correctly too :

![2016-07-04 18_49_07-clipboard](https://cloud.githubusercontent.com/assets/1025691/16566791/107b8930-4218-11e6-871a-4c35919b0b6b.png)

[2016-07-04 19:43] swrobel opened #100 "Build instructions seem to be out of date"
Context: I'm [trying to update](https://github.com/Homebrew/homebrew-core/issues/2501) the very convoluted [homebrew formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/mailhog.rb) for mailhog that builds from source

I'm not very familiar with go package management/vendoring or build processes, but [these build instructions](https://github.com/mailhog/MailHog/blob/master/docs/B

[2016-07-05 12:42] urbany opened #101 "Docker: volume to persist data"
Hi, is there a way to mount a volume to persist the data while using the docker image?
Thanks in advance

[2016-07-05 20:04] ashleyhindle commented on #40
This is definitely working now, I imagine this issue can be closed

Example command: `/usr/local/bin/mailhog -auth-file=/home/mailhog/auth -api-bind-addr='0.0.0.0:80' -ui-bind-addr='0.0.0.0:80' -smtp-bind-addr='0.0.0.0:25'`

[2016-07-07 15:25] cybafelo opened #103 "go get github.com/mailhog/MailHog causes segmentation fault"
it worked the first time - complained about bzr not installed

every successive attempt to run 'go get github.com/mailhog/MailHog' produces the following output

Segmentation fault (core dumped)

really annoying. especially since claiming 'mailcatcher - just easier to install' - yeah right.

[2016-07-07 19:47] #58 closed

[2016-07-07 20:54] ian-kent commented on #103
Sorry @cybafelo, I can't reproduce this, could you give more info (OS, go version, etc)

I've just pushed some updates to import paths which _may_ have caused a problem, but I'd have expected a `uses insecure protocol` error rather than a segfault

My attempt, which seems to work ok:
[code]
which outputs
[code]

[2016-07-07 21:12] ian-kent commented on #101
Hi @urbany

You should be able to do something like this:
[code]

That should store the messages in a `./docker-maildir` directory, though you can change
[code]
to anything

[2016-07-07 21:12] #101 closed

[2016-07-07 21:23] ian-kent commented on #100
I'd agree, the build process is a bit complicated!

[assets.go](https://github.com/mailhog/MailHog-UI/blob/master/assets/assets.go) is still committed to the repo, but the path in the documentation was wrong (not sure if that's because it moved, or if I just got it wrong when I wrote the docs)

Just read through the homebrew issue, switching to vendoring is a good idea, I'll do it asap! MailHog _s

[2016-07-07 21:29] ian-kent commented on #99
mailhog/mhsendmail#3 should have fixed it, assuming you have a `To:` header in the message

It could be worth adding some documentation to mention it - PHP config is mentioned in the (mhsendmail)[https://github.com/mailhog/mhsendmail]) readme, but currently without the e-mail address in the path

[2016-07-07 21:39] #97 closed

[2016-07-07 21:39] rfay commented on #99
Hmm, maybe a new release for mhsendmail is the key fix?

Note that I couldn't get mailhog 0.2.0 to work without the gratuitous test@example.com, but it works fine with it.

[2016-07-07 21:40] ian-kent commented on #97
thanks @wttw, should be fixed, I'll release a new version asap

I've fixed some import path issues which might have caused the `go get` problem, hopefully that should be working now too

[2016-07-07 21:42] ian-kent commented on #99
It might be that (really need to fix #71!), but if you've tried the `MailHog sendmail` one then it should use the latest mhsendmail for whichever version of MailHog you have installed

I'll do a new release after I've got through some open issues, hopefully that'll fix it!

[2016-07-07 21:48] rfay commented on #99
OK, thanks for your work on this. MailHog is awesome. A real step forward in my dev workflow. Love the "delete all".

[2016-07-07 22:00] ian-kent commented on #98
It's sort of an oversight...

If it's just a `Cc` or `Bcc` header in the SMTP message, this will be ignored entirely since MailHog doesn't attempt to do anything based off the SMTP message body. It only acts on `RCPT TO` SMTP commands.

Assuming your mail client is sending the `RCPT TO` commands for each cc/bcc recipient, MailHog should see those recipients (if you check the MailHog log output), b

[2016-07-07 22:01] ian-kent commented on #99
Thanks @rfay, and no problem, glad its useful :smile:

[2016-07-07 22:02] ian-kent commented on #96
Very good point! That's a bit rubbish...

I'll do something about it, not sure what without breaking the API, but something 👍

[2016-07-07 22:04] #95 closed

[2016-07-07 22:04] ian-kent commented on #95
Thanks @vov32, should be fixed, it'll be in the next release!

[2016-07-07 22:07] ian-kent commented on #27
accidental close!

@bunam could you provide logs and example messages please :smile:

[2016-07-07 22:08] #86 closed

[2016-07-07 22:11] ian-kent commented on #86
@augustinex80 not sure what you mean by no expanded-name, but the binaries on the release page should work on Mac OS (I've tested on 10.11.4)

@iamwithnail I've added the homebrew command to the readme :+1:

There's not really a right way - the binaries, docker and homebrew should all hopefully work.

[2016-07-07 22:13] ian-kent commented on #40
Thanks, glad it's working :+1:

I'll keep the issue open for now as a reminder to make password handling less bcrypt-crazy

[2016-07-08 09:37] cybafelo commented on #103
hey - thanks for the reply - i tried again this morning - with the same results

go version xgcc (Ubuntu 4.9.3-0ubuntu4) 4.9.3 linux/amd64

Linux version 4.2.0-41-generic (buildd@lgw01-56) (gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3) ) #48~14.04.1-Ubuntu SMP Fri Jun 24 17:09:15 UTC 2016 (Ubuntu 4.2.0-41.48~14.04.1-generic 4.2.8-ckt11)

i've installed it over a mac - debian version jessie -

[2016-07-08 09:54] ian-kent commented on #103
Thanks for the extra info - could you confirm which version of Go you're using as output by `go version`

The stack trace and errors point to the `crypto/tls` package or the `go` command being at fault (which both seem unlikely), and since MailHog builds as expected on a clean Vagrant VM it suggests it might be a problem with your local environment

It could be worth having a look at these possibl

[2016-07-08 10:04] cybafelo commented on #103
`[08] 11:12 tj@cybafelo C:~> $ go version`
`go version xgcc (Ubuntu 4.9.3-0ubuntu4) 4.9.3 linux/amd64`

its the one in the ubuntu repository - probably its buggy - i will compile from source and try again another day.. thanks for the links they are exactly the same problem i've been having - unpredictable results (i.e. concurrency) - probably related to a buggy go version.

[2016-07-08 10:04] #103 closed

[2016-07-10 18:06] ian-kent commented on #84
Hi @MikeParkin - it isn't currently, but it can be added :smile:

[2016-07-10 18:09] #91 closed

[2016-07-10 18:09] ian-kent commented on #91
thanks @bardware, should be fixed in the next release!

[2016-07-10 18:14] #89 closed

[2016-07-10 18:15] ian-kent commented on #89
thanks @philippe-granet

@arnou not sure if that is related to this problem, if it still happens after the next release could you open a new issue and include MailHog server logs

[2016-07-10 18:18] #92 closed

[2016-07-10 18:18] ian-kent commented on #92
thanks @bardware, should be fixed

[2016-07-11 08:18] MikeParkin commented on #84
Hi @ian-kent,

I would happily update the documentation for this, if you could give some pointers as to how to configure TLS! I had a look at the source and tried googling for a solution - but nothing was obvious.

Mike

[2016-07-11 08:27] ian-kent commented on #84
Thanks @MikeParkin

Sorry if my last message wasn't clear, TLS isn't currently supported in MailHog (or, I don't think it is, and I couldn't find anything in the code which suggested it was). Outbound SMTP will use TLS if the remote server supports it (i.e. by advertising `STARTTLS`), but that's it.

Adding TLS support for the UI, API and SMTP server should be relatively straightforward - I'll add

[2016-07-11 08:35] MikeParkin commented on #84
Hi @ian-kent,

Ahh ok - I cannot remember why I thought MailHog supported HTTPS/TLS for the Web UI - I was sure I had read that somewhere. Having just been back through the documentation I cannot find any reference to it - maybe it was the STARTTLS on SMTP like you suggest!

That would be great, thank you!

Cheers
Mike

[2016-07-15 05:34] huglester commented on #98
Hello,

I personally used to see all messages. If for example there is 1 recipient and 2x BCC recipients, then I see 3 emails in my inbox. I understand that when testing something, there could be hundrends of emails in the inbox - but I can't see any downsides of this.

Also, if there would appear 'release' button someday, then we could even deliver 1 on these messages (like sometimes customers wh

[2016-07-18 12:52] hkirsman commented on #98
Well I would like to see all the e-mails otherwise, as a developer, I would be confused why my my app is not working. Which was the case :)

[2016-07-19 18:23] clickthisnick commented on #98
/\ Agreed

[2016-07-27 19:01] andyshinn opened #104 "Ability to use secure WebSockets (wss)?"
I was trying to put MailHog behind an SSL load balancer. But the WebSocket connection fails because it is not using wss://. The rest of the hostname appeared correctly (was using what was typed into address bar). Is it already possible or could we add a way to use WSS over WS?

[2016-08-04 00:16] porjo opened #105 "memory limit?"
MailHog doesn't appear to impose an upper limit on the amount of memory it could allocate to the message queue. Assuming that people aren't going to bother deleting email most of the time, won't this become a ticking time bomb on a long-running server?

A sensible default limit should be imposed. Question is what to do once that limit is reached - do you auto-delete old messages or return a non-de

[2016-08-10 01:28] swrobel commented on #86
FYI, [the state of Mailhog's inclusion in Homebrew is in question](https://github.com/Homebrew/homebrew-core/issues/2501#issuecomment-231583316)

[2016-08-10 07:04] ian-kent commented on #100
dependencies are now vendored, hopefully should help with Homebrew/homebrew-core#2501

[2016-08-10 07:04] #100 closed

[2016-08-10 07:05] ian-kent commented on #86
thanks, added in vendor directories, hopefully that'll help

[2016-08-17 17:37] obrienmd opened #106 "Provide option to auto-relay"
It would be useful to have an option in MailHog config to auto-relay all messages.

[2016-08-22 15:47] chalasr commented on #46
Hi,

I'm facing a similar issue when trying to fetch mails from the Api (v2).
Performing a query on `/api/v2/search` using `containing` on the subject of a mail gives an empty result.

For instance I search: `'containing' => 'Your free product'`, but in fact the subject appears as `Your free =?utf-8?Q?product=0A?=` when fetching all mails.

Could it be possible to do something for clean up the sub

[2016-08-22 16:13] chalasr opened #107 "Performing "containing" queries on subject doesn't work on utf8 encoded mails"
I'm facing an issue when trying to fetch mails from the Api (v2).
Performing a query on `/api/v2/search` using `containing` on the subject of a mail gives an empty result.

For instance I search: `'containing' => 'Your free product'`, but in fact the subject appears as `Your free =?utf-8?Q?product=0A?=` when fetching all mails, so I can't retrieve it from a `search` query directly.

Could it be po

[2016-08-24 23:00] lmakarov opened #108 "Switch to alpine for the docker image"
Alpine based image is more than two times smaller than the standard (Debian based) one.
The resulting mailhog image size is 280.1 MB (using golang:1.7-alpine) vs 691.6 MB (using golang:1.7).

[2016-09-02 13:11] AGhost-7 commented on #108
I think that size is less important in this case. If you're going to use this for testing, you're probably going to need to use it for debugging, and using something you're familiar with is a better choice. I think a lot of people are more familiar with Debian.

[2016-09-04 17:56] ian-kent commented on #108
Thanks @lmakarov, and thanks for #109

Does the version provided by [Rockerfile](Rockerfile) help? It's only 15 MB, and is the 'official' one hosted at [Docker Hub](https://hub.docker.com/r/mailhog/mailhog/)

I think I'd be inclined to agree with @AGhost-7, but I won't be affected by it! [Dockerfile](Dockerfile) is intended as a development resource, while the Rockerfile version provides something

[2016-09-04 18:02] ian-kent commented on #106
Thanks @obrienmd

I'd be interested in understanding your use case? Adding that option wouldn't be too difficult, but MailHog isn't designed to work as a real MTA and doesn't make any SMTP delivery guarantees - the existing implementation (being a manual thing) makes a delivery failure less important.

[2016-09-04 21:37] obrienmd commented on #106
Thanks for the feedback and question - makes perfect sense.

In some cases as we move a change to a staging environment, we would love to have both the e-mail captured in MailHog (for immediate checks) and allowed through to a group of test end-users (for more delayed but wider feedback). MailDev has a pattern-match option for auto-relay, which would be ideal, but full-bore auto-relay would be per

[2016-09-05 01:03] mwgamble opened #110 "How can I tell what version of mailhog I'm running from the web interface?"
The title speaks for itself really. I'm running mailhog inside of a docker container, and just updated to the latest version, but I can't tell how to verify that I'm running the latest version in the docker container.

[2016-09-06 09:38] klokie commented on #40
Nice!
Would you be able to explain how to enable basic auth via docker environment variables? I haven't figured that part out yet.

[2016-09-07 14:29] obrienmd commented on #106
To further expand on this, it would be for large groups of users on a staging environment where manual relay via MailHog would be difficult.

[2016-09-08 22:06] AGhost-7 opened #111 "Ability to reply to emails sent by application server"
Use case:

Users can interact with the application by sending emails to it. You can also just reply directly to an email notification and it will update the thread stored in the app. Similar to how you can interact with issues on Github. I'd like to be able to test this kind of functionality using the UI in Mailhog.

[2016-09-10 15:52] guycalledseven opened #112 "outgoing smtp json config parsing fails"
Thanks for cool project!

I am using MailHog via Docker and trying to set up SMTP relay functionality to my MT.
I am setting env MH_OUTGOING_SMTP to the file I previously ADD-ed to my MailHog container via Dockefile.

MailHog is complaining about the json format, and I am using json format from the docs:

[code]

The error I am getting is this:

[code]

I made it work but had to strip whitespace:

[2016-09-10 18:09] 123andy opened #113 "Base64 email requires download to view contents"
When viewing a base64 email I must download the message to view the text.  Is this intended?  There are no attachments to the email.  It would greatly help my workflow to be able to preview the contents of the email in the web ui.

![image](https://cloud.githubusercontent.com/assets/7461553/18412590/03ce7972-7747-11e6-9395-418b93b58a2b.png)

[2016-09-12 07:42] jehon commented on #22
I have the same problem with a Drupal installation sending emails.

Looking a bit in the Drupal system, I see that it send content-type with a lower "t".

Is it possible to fix this?

[2016-09-20 14:48] chalasr commented on #107
This issue is really problematic, forced to stop using the API for now.

[2016-10-16 20:56] Prazmok opened #117 "MailHog not working when using nginx proxy pass"
I am using MailHog as a Docker container (using docker-compose) and for default configuration everything is OK. Unfortunately when I created Nginx proxy pass I get an error in browser console

[code]

I guess it is bad configuration problem but as far as I know there is no option to configure MailHog image for docker-compose.

[2016-10-23 17:59] JSchlarb commented on #117
@Prazmok Add this to your nginx config ...  That should do the trick. You must ensure that your mime.types are well configured

[code]
More https://www.nginx.com/blog/websocket-nginx/

[2016-10-23 22:12] blueimp opened #120 "Contribution: Mailhog NodeJS library"
If you want to add this to the README, here's a minimal NodeJS library for the MailHog API (v2):
https://github.com/blueimp/mailhog-node

Thanks for your work, @ian-kent !

[2016-11-01 11:25] marten-cz commented on #96
We are having the same problem now. When you don't want to lose backward compatibility, what about adding optional query parameter.

i.e.
api/v1/messages?fields=From,To,Subject

[2016-11-02 20:10] geerlingguy commented on #16
Here's the `systemd` unit file I'm using for mailhog in my Ansible role (just for posterity):

[code]

See: https://github.com/geerlingguy/ansible-role-mailhog/blob/master/templates/mailhog.unit.j2

[2016-11-04 21:07] nutbunnies opened #121 "fatal error: concurrent map writes panic with inmemory storage"
We are having frequent crashes when running high volumes thru mailhog.  Looks to be due to mutation of the inmemory map not being sync'd.

[code]

[2016-11-11 15:51] cspencer49519 opened #124 "Message sort order when using maildir as storage."
When using maildir as my storage medium, all messages are sorted ascending, how can I get them to sort descending(most recent first)?

[2016-11-14 12:54] esiqveland commented on #56
Any news on this? It makes it very verbose when printing entire data contents of every email.

[2016-11-14 22:32] ian-kent commented on #124
That'd be a bug, of sorts. The maildir implementation returns messages in the order they're returned by the file system without any sorting.

Having just looked at the code, its even more basic than that - it returns all messages regardless of the start or limit values passed in.

Adding a sort would be easy, though inefficient for large numbers of messages (not that what's there now could be cons

[2016-11-14 22:54] ian-kent commented on #120
added, thanks :+1:

[2016-11-14 22:54] #120 closed

[2016-11-14 22:59] ian-kent commented on #117
I've added a note to the configuration section of the docs - it's probably not in the most obvious place, but hopefully it'll help someone out!

[2016-11-14 22:59] #117 closed

[2016-11-14 23:14] #113 closed

[2016-11-14 23:15] ian-kent commented on #113
Hopefully that will fix it - I'll get a new release out soon, let me know if it doesn't help!

[2016-11-14 23:29] ian-kent commented on #112
I'm not too sure how the mgo scanner would be used instead of `encoding/json`, it's loaded [here](https://github.com/mailhog/MailHog-Server/blob/master/config/config.go#L102) which is using the standard library package.

I've just tried it locally, and it works ok for me for the example above:
[code]

I wouldn't normally use a file for the config, but it made sense for this for a couple of reasons

[2016-11-14 23:31] ian-kent commented on #111
Sorry, I don't really understand why this would be useful? What would replying to an email actually do?

[2016-11-14 23:32] ian-kent commented on #110
You can't 😞 yet...

Version info has come up a few times, I'll add something asap!

[2016-11-14 23:33] ian-kent commented on #108
I'll close this, I think it's been superseded by #118

[2016-11-14 23:33] #108 closed

[2016-11-14 23:34] ian-kent commented on #107
Good point, fairly big oversight!

I'll have a look asap :+1:

[2016-11-15 09:37] blueimp commented on #120
Thanks as well! :)

[2016-11-15 21:00] ian-kent commented on #106
Thanks for the info! I'll add something :+1: not 100% sure what yet, but something!

[2016-11-15 21:03] ian-kent commented on #105
Yeah, this definitely needs fixing!

I don't think the two PRs linked above really solve this issue, I'll add something specifically to limit memory consumption

[2016-11-15 21:28] ian-kent commented on #98
I'm happy to add something, just struggling a bit with how the UI (or API?) would handle that - listing the message multiple times (or, storing it multiple times) could be problematic, e.g. if the recipient list is a few hundred addresses.

The CC/BCC headers should be available in the UI, though they are hidden by default - perhaps making them visible by default instead might help? Or displaying

[2016-11-15 21:38] ian-kent commented on #96
Could work, though I'd rather create a v3 api endpoint for this and deprecate the old one.

The way the endpoints in v1 and v2 APIs are implemented (blindly returning the entire raw SMTP message struct) really isn't great.

Sorry its taken a while to look at this - I'll add a fix asap!

[2016-11-15 21:38] ian-kent commented on #56
Sorry for the delay - I'll get something done asap.

[2016-11-15 21:40] ian-kent commented on #121
closing, fixed by @nutbunnies - mailhog/storage#4

[2016-11-15 21:40] #121 closed

[2016-11-15 21:43] #104 closed

[2016-11-15 22:18] obrienmd commented on #106
Cheers - honestly, just a boolean config / cli option for "autorelay" would be awesome :)

[2016-11-16 16:53] Morgon commented on #106
For me, I'd just like a button that auto-releases. In other words, not for every message (although no reason not to do so), but instead of having to re-type (or copy/paste) the To: field, just have a button that ships the entire message to the defined SMTP server

[2016-11-17 20:12] yarwelp opened #125 "It'd be practical to have an option which when enabled would require confirmation for each mail or sender address before images are loaded from remote servers"

[2016-11-22 08:08] SergeySmile opened #126 "Bug with displaying email html"
Hello. I have a problem with displaying emails with html content.
For example i send email with **body**: `<b>афывафвы аывф аыфва</b>`
In **html tab** it looks like:
![](http://i.imgur.com/TGgPao0.png)
But in **text tab** it looks like:
![](http://i.imgur.com/ieLSSWj.png)

How can you see html tab is empty and it is impossible to view big emails with tables, pictures etc.

**Email source:**
`Conte

[2016-11-22 13:00] JanKonas commented on #98
How can I configure the UI to show Cc/Bcc headers? I can't find this in the docs.

I am attaching screenshot (made by modifying the page in a browser) how would I like to have Cc/Bcc displayed (in message detail).

![Mailhog UI](https://cloud.githubusercontent.com/assets/7345659/20524412/c2f3f4ec-b0ba-11e6-9c08-ede436c42beb.png)

[2016-11-26 18:11] mdaguete commented on #106
Hi All,

[MailDev](https://github.com/djfarrelly/MailDev) has an [auto-relay-mode](https://github.com/djfarrelly/MailDev#auto-relay-mode) with a json config file to deny or allow the recipient.

Regards

[2016-11-26 19:25] obrienmd commented on #106
Yep - unfortunately, I'm unable to use the node runtime in this situation due to silly policies :)

[2016-11-26 20:36] theonedemon commented on #126
up

[2016-11-28 10:39] marten-cz commented on #96
I think it will be better to update v2. There is no full documentation for v2 right now, for v3 you will have to do the documentation again and prepare all other calls as well in v3. This change does not affect existing calls and is fully backward compatible, as a version, it can be release v2.1.

[2016-12-02 04:32] nortmas commented on #22
Guys, it's still not fixed. Can anyone fix this please?

[2016-12-02 04:52] nortmas commented on #22
How to find controllers.js locally (Ubuntu)?
Can't find it. Could someone help me please?

[2016-12-02 07:02] theonedemon commented on #126
up

[2016-12-04 16:58] jehon commented on #22
Still interested in a fix of this one...

How could I help?

[2016-12-04 17:26] nortmas commented on #22
Can you fix this line - https://github.com/mailhog/MailHog-UI/blob/master/assets/js/controllers.js#L458

Instead of this:
`if (message.Content.Headers && message.Content.Headers["Content-Type"] && message.Content.Headers["Content-Type"][0].match("text/plain")) {`

need to use something like this:

`if (
message.Content.Headers &&
	(
		(message.Content.Headers["Content-Type"] && message.Content.Hea

[2016-12-04 20:57] ian-kent commented on #22
Sorry, thought I'd fixed this... https://github.com/mailhog/MailHog/issues/113 turns out it was a different bug!

controllers.js is inside MailHog-UI - https://github.com/mailhog/MailHog-UI/blob/master/assets/js/controllers.js

there's a bunch of places where it treats headers incorrectly - more than happy to accept a PR to fix this one, but otherwise I'll have a look at cleaning that mess up asap

[2016-12-05 10:30] MaksymSkrynnikov opened #127 "MailHog cannot connect to mongo on Mac"
Configuring mailhog in docker-compose file as
[code]
It works on Linux and stores received messages to MongoDB(mailhog db, messages collection).
On Mac (El Capitan 10.11.6)  cannot resolve address of container and getting
[code]

[2016-12-05 10:35] z1lv1n4s commented on #127
Can confirm had the same issue. It seems it may be related to GOlang. From inside the container mongo is reachable and can be pinged. Everything starts working fine if mongo hostname is replaced with an actual ip address.

[2016-12-08 12:16] sbungert opened #128 "Bulk delete"
Can you tell me how to bulk delete mail? I don't seem to see any buttons for delete except when viewing an individual mail.

[2016-12-08 13:11] cameronbraid opened #129 "can't configure to run on a https domain"
I"m trying to run mailhog in openshift and have managed to get it mostly working.. smtp is working, but thw web ui isn't working, error is

﻿
VM51:35 Mixed Content: The page at 'https://example.com/' was loaded over HTTPS, but attempted to connect to the insecure WebSocket endpoint 'ws://example.com/api/v2/websocket'. This request has been blocked; this endpoint must be available over WSS.
VM51:35

[2016-12-13 15:33] sbungert commented on #128
Sorry, just seen the link in the left sidebar

[2016-12-13 15:33] #128 closed

[2016-12-14 10:39] touchardv commented on #106
Hello,

Such a feature would be indeed nice to have. Even better if it could be turned on/off based on some condition e.g. "auto release all emails for recipients not in domain "example.com".

Regards,

[2016-12-14 14:33] codablock commented on #129
I got the same error and had to switch to http to fix this.

[2017-01-04 07:56] talolierwork opened #131 "Delete an individual message with wrong {message_id} deletes a message"
Using API V1: DELETE /api/v1/messages/{ message_id } with a wrong message id, e.g.
DELETE /api/v1/messages/aaa will still delete one message (very easy to reproduce).

Found in release 0.2.1.

-Tal.

[2017-01-09 19:27] ian-kent commented on #131
Which storage backend are you using?

[2017-01-09 19:31] ian-kent commented on #129
I think this may have been fixed already, but maybe not in the latest release. I'll keep this open for now and will get a new release out asap.

[2017-01-09 19:48] ian-kent commented on #127
I'm not sure there'll be much I can do to help with this, but if you could let me know your docker and docker-compose versions I'll see if I can reproduce it.

As @z1lv1n4s says, it seems to be related to Go (or maybe specifically the mongodb driver) inside Docker containers. Had a bit of a dig around, and there's plenty of people complaining about similar issues.

Can you try running MailHog usin

[2017-01-09 19:55] ian-kent commented on #126
What's sending the email?

This bit doesn't look quite right to me:
[code]

It gives the `Content-Transfer-Encoding` as `quoted-printable`, but the content doesn't look like it has been encoded? I'd have expected something like:

[code]

Just tested that locally and with the content encoded correctly it works:

[code]

[2017-01-09 19:57] ian-kent commented on #125
Could you give more info about the use case for this?

Since MailHog is designed as a testing tool (and should be within the total control of your environment - i.e. not accepting random mail from the internet), there shouldn't be any risk in it automatically loading images?

[2017-01-09 20:33] SergeySmile commented on #126
Thanks for feedback.

Old php project which was writing on Codeigniter 2...

Ok, I understand what is wrong and will try to test content encoding.

But how does it work in gmail and thunderbird?...

Before start to use mailhog i have saved mails locally as files and opened it in thunderbird and it was looking nice.

[2017-01-09 21:01] ian-kent commented on #126
Good point! I'm not sure what the expected behaviour is when the transfer encoding is 'quoted-printable' but the content isn't encoded. A quick glance at a probably old RFC seems to indicate only ASCII characters can be left unencoded, which wouldn't include cyrillic, but if Gmail and Thunderbird both accept it then maybe MailHog should too.

I'm just wary of fixing message formatting bugs against

[2017-01-09 22:45] eriknstr commented on #125
Test data could origin from a real mailbox.

[2017-01-10 02:51] brothman01 opened #132 "My Mailhog stopped working after MAMP -> Valet"
I used MAMP and installed mailhog to test some WordPress mail being sent from a site on the MAMP server.  Mailhog worked like a charm with MAMP.  Now I use Valet, and while I like it, Mailhog doesn't work anymore.

Mailhog stopped working when I switched to valet, so my question is how can I make Mailhog work with Valet as well as it did with MAMP?

[2017-01-10 03:05] #132 closed

[2017-01-10 03:06] brothman01 commented on #132
WP_DEBUG has to be on.  (I don't know how it got turned off in the first place)

[2017-01-10 10:07] SergeySmile commented on #126
So what can i say: "Don't use Codeigniter 2" It's a joke ;D

Today, i tried to send email from Codeigniter 3 - and all is ok.
I've compared Email library of codeigniter 2 and 3 version. They have different implementation of `_prep_quoted_printable`. Codeigniter 2 email library does not contain `quoted_printable_encode` inside. As a result - body is not encoded.

What about gmail and thunderbird, i

[2017-01-10 21:37] viossat opened #133 "Docker Hub image not automatically built anymore"
Currently, the latest image available on Docker Hub was built on `2016-09-04T18:23:47.194225883Z`. But some commits have been pushed since September, including the new Dockerfile based on Alpine. The automated build looks broken.

[2017-01-10 21:43] ian-kent commented on #133
Thanks for letting me know - I'd forgotten to enable automated builds after switching back to Docker. Docker Hub should have the latest build now!

[2017-01-10 21:43] #133 closed

[2017-01-10 21:45] viossat commented on #133
Thanks.

[2017-01-11 23:32] cameronbraid commented on #129
That would be great thanks

[2017-01-13 18:52] cwbit commented on #111
e.g. if you're building something like a support / customer management platform where emails can be sent directly to customers from the system and when the customer replies your platform interacts with the email to update contact logs, notes, etc. based on the email reply.

Like how github issues send emails to watchers and replying to that email will actually post your reply as a comment on the i

[2017-01-16 08:06] cameronbraid commented on #129
Any idea of a eta for the release ?

Also, can you please cut a release of your docker image too, thanks

[2017-01-17 13:28] MWilkinson commented on #129
Hi @ian-kent
   I'm having this issue as well, it appears that the -api-host setting (MH_API_HOST env variable) is not being used in the UI template
Having done a bit of digging through the code (and I'm not that familier with Go) I think there are 2 possible solutions,
in MailHog-UI line 90 of web/web.go should map web.config.APIHost to APIHost, the alternative is to change line 152 of assets/tem

[2017-01-30 14:13] SuperPat45 opened #134 "Auto-release mails according filter"
Hi,

I need some mail to be automatically released
if the subject contains some text or according to the recipient or the sender address.

[2017-02-01 16:51] fredleger opened #135 "Stange behavior on Accept-Encoding"
# whithout Accept Encoding Header:
[code]

# with accept encoding header :
[code]

[2017-02-01 16:52] #135 closed

[2017-02-01 16:52] fredleger commented on #135
sorry fake one

[2017-02-02 09:38] timmetj commented on #22
Any news on this? Also seeing everything in plain-text

[2017-02-03 14:13] fredleger commented on #56
+1
i used it as a production solution but the container is very agressive on cpu when priting every byte received in attachement ...

[2017-02-03 14:15] fredleger opened #137 "Ability to customize Mail server headers"
I do think that clearly displaying it's a fake smtp server (MailHog) on HELO is not a good idea.
Any way to customize it through config ?

[2017-02-03 14:20] fredleger opened #138 "Security: Antispam ?"
I know this will be strange request. But any way to add a kind of spam user blocking ?

I can see differents ways :
* configurable delay after tcp connect
* rate limitating
* ip filtering (with white / black listing)
* DNS sanity check
* real anti spam plugable

Just sharing the thoughts here. Let's see what is easy to implement and what is not.

[2017-02-07 07:35] tubiz commented on #132
Hi @brothman01 please how did you configured MAMP with Mailhog?

[2017-02-08 13:33] fredleger commented on #40
@klokie :

in docker compose , something like:
[code]

or on the command line just add "--entrypoint MailHog -auth-file=/data/mailhog/auth.file" to you docker run command.

[2017-02-08 13:39] fredleger opened #139 "Docker image display an empty version string"
ex:
[code]

[2017-02-10 02:43] kohenkatz commented on #138
I'm curious what the use-case is that requires this to be added, given that MailHog isn't really designed to be exposed to the public - it's supposed to be for your own personal use in development so you can test your code that sends emails.

[2017-02-10 04:10] brothman01 opened #140 "Mailhog not catching mail from WordPress install on Valet"
I have two valet installs that should use mailhog services:

1. On my personal desktop - works perfectly.  Mailhog catches all outgoing mail.

2. On my work laptop - cannot send mail.  Mailhog does not catch any outgoing mail.

**The Problem:**
I installed mailhog yesterday with Brew on my laptop, and the mailserver is accessible when mailhog is running, but when I try to send email from the WordP

[2017-02-11 18:11] brothman01 commented on #140
Any ideas?

[2017-02-13 14:00] fredleger commented on #138
we were looking to a solution to receive e-mails to dynamic adresses (not known in advance like qsdhqsjkhjsqhdqsdjqsdhqskjh33668228@exemple.com) and retrieve e-mails from the API. After doing some research we didn't found any solutions doing that (except hosted services but we want to host ourselves) so we endded up using maihug who actually fit the need so far. But in deed it lacks some security

[2017-02-16 09:25] paulcgt commented on #96
The attachments are hurting us quite badly, I'm afraid. Do you have an idea when you may implement the change @ian-kent ?

[2017-02-17 16:44] timbrd commented on #129
Same problem here. I'm trying to get mailhog running on openshift as well.

[2017-02-17 18:32] SlayerBirden commented on #99
A tip to anyone wondering how to use Mailhog if it's running on a separate instance (not the php server) - for example on a separate docker container.

All you need to do is modify the **sendmail_path** on php server to include -S option:

    sendmail_path = /usr/sbin/sendmail -S mail:1025 -t

Where "_mail_" is the alias of my container running Mailhog.

[2017-02-21 17:40] Yannoo opened #141 "Use GridFS for attachment file"
Hello,

When I send a mail with attachment file larger than 16MB, mongo rejected message.
Mongo refuse BSON document larger than 16MB, and it recommends to use GridFS.

Could you store attachment file in GridFS rather than in BSON collection ?

Thanks

[2017-02-22 07:59] staelche opened #142 "Always "disconnected""
I have the situation that on my development virtual machine I am always disconnected. On other servers it works pretty fine.

Do you have any explanation for this?

I am using the latest amd64 version with an up to date debian (on all machines) and start it always without any commandline options.

[2017-02-23 17:36] talolierwork commented on #131
I think it is mongo db, I did not know there is a way to use other storage engines.

[2017-03-02 09:59] jtrancas commented on #89
I'm still getting this exact issue when using the latest release.

[2017-03-05 21:28] iampuma commented on #78
+1

[2017-03-09 16:13] anarela opened #143 "MailHog on Local computer with SendMail installed (PHP)"
Hello,

I'm new using MailHog, I can't find the proper way to configured this and to make it work on my phpunit tests.

First it keeps falling because of the version of Guzzle needed. It said UriResponse wasn't found into PSR7. I installed 6.2.3 version.

Then I had to change my helper because json() method is no longer available.

Finally the get("messages") method worked and return an empty arra

[2017-03-09 21:11] anarela commented on #143
Oh, I finally made it!!!

The problem was that I changed the php.ini inside my project and I have to change the php.ini inside CLI folder.

Now the mails get redirected correctly.

[2017-03-09 21:11] #143 closed

[2017-03-11 02:27] chines commented on #106
Hello,

We have historically used mailcatcher in our dev and QA environments, but it's not sufficient to handle production pass through (without a feature such as auto-relay).

The use cases are:

1. We send thousands of emails daily (not spam or ads, these are all opt-in edoc delivery of individuals insurance policy documents).  These emails are generated by pulling data from different middleware

[2017-03-11 03:09] chines commented on #106
Also, I've tested maildev extensively(since as mentioned above, it does provide this) but I've not found it as stable as mailcatcher.

[2017-03-13 20:47] talawahtech commented on #129
Has anyone found a workaround for this in the meantime?

[2017-03-13 21:15] nickbg321 opened #144 "Sender not displayed on the index page"
Hello,

I'm using version 0.2.1 and I'm having an issue with sender displaying on the index page. What I see is "{{ getSender(message) }}" which is caused by Angular failing with the following error:

angular-1.3.8.js:11594 TypeError: Cannot read property '0' of undefined
    at Scope.$scope.getSender (controllers.js:194)
    at $parseFunctionCall (angular-1.3.8.js:12332)
    at Object.expressionI

[2017-03-13 23:28] cameronbraid commented on #129
Yeah,

I use a node proxy infront of mailhog that does a html rewrite like this

https://github.com/cameronbraid/mailhog-transformer-proxy

Cheers

Cameron

On Tue, 14 Mar 2017 at 07:47 Marc Richards <notifications@github.com> wrote:

[2017-03-13 23:54] talawahtech commented on #129
@cameronbraid thanks! I want to avoid adding any more dependencies at this point though.

@ian-kent How would I go about building a binary with the latest MailHog-UI changes? "go get github.com/mailhog/MailHog" seems to still have the old version and I am not super familiar with the go build process or the multi-repo setup that this project uses.

[2017-03-14 19:25] kohenkatz commented on #129
@talawahtech You should be able to look at the `Makefile` to see what to run.

[2017-03-16 15:44] schnatterer opened #146 "Start using tags on docker hub"
Right now, the only [tag available on docker hub](https://hub.docker.com/r/mailhog/mailhog/tags/) ist `latest`.
This makes using MailHog from docker hub risky.

That is,
`docker run mailhog/mailhog:latest`
might return a different image on every call.

However, for example,
`docker run mailhog/mailhog:0.2.1`
would return the same image on every call. This would make builds relying on MailHog repea

[2017-03-29 11:31] bsbak opened #147 "Message head in Web UI"
In web UI message head is `{{ getSender(message) }}`, how change it to "name" \x6\6x7 madafaka

![screen](https://cloud.githubusercontent.com/assets/11431176/24452570/93aff45c-148c-11e7-8f8b-7c1b9e43aa8c.png)

[2017-03-29 19:33] eymclueles commented on #98
I'm having the same issue and would also like to know if there is an option to turn on CC and BCC display in the UI?  If so, how?  I'm unable to find documentation for this.

[2017-03-30 00:19] talawahtech opened #148 "Raw.Data returned from API contains unexpected opening line-break when using maildir"
I switched from memory storage to maildir storage because i ran into #121 but then I noticed that some of my end-to-end email test cases (where I send an email that ends up in MailHog, then query the API to verify the data that I sent) started failing.

It looks like and extra "\r\n" is added to the beginning of the Raw.Data string in the API response when maildir storage is used. I don't know whe

[2017-04-05 19:22] talawahtech commented on #56
FYI, this is the docker ENTRYPOINT directive that I used to get MailHog to stop filling up my logs:

`["/bin/sh", "-c", "MailHog &>/dev/null"]`

Of course, if you are having trouble with something and actually need to look at the logs you will have remove this hack first. Would be great if we could get a verbosity flag for this.

[2017-04-06 07:28] dkaminski commented on #129
For those who have SMTP working on openshift, are you sending mail only from within your cluster or do you have a route from the outside set up as well? I have a route set up to target port 1025, but when sending mail in I get hung up on -  "SMTP: Connection reset by peer Unexpected EOF on SMTP connection".

[2017-04-10 09:39] hyperized commented on #87
One year down, I don't think this is going to be tackled. I'll just close this.

[2017-04-10 09:39] #87 closed

[2017-04-10 16:19] barryrld commented on #22
I'm finding that HTML tab doesn't display on version 0.2.1-4 - only the Plain text and Source tabs. The email body looks like:

This is a multi-part message in MIME format.

The Content-Type header appears to have the right case to match the javascript.
I'm also using Drupal and the PHPMailer library.

Does anything appear glaringly obvious that I'm missing here?

[2017-04-11 11:33] cweiske opened #149 "Release new version 0.2.2"
It would be nice if a new version was released so that we could get the WebUI SSL fix (https://github.com/mailhog/MailHog-UI/pull/22)

[2017-04-16 18:51] ian-kent commented on #148
I think this is related to mailhog/storage#7, I'll keep both open for now

[2017-04-16 19:14] #148 closed

[2017-04-16 19:23] ian-kent commented on #146
:+1: really good idea

it should be working now, so any future git tags should be saved as docker hub tags!

[2017-04-16 19:23] #146 closed

[2017-04-16 19:58] ian-kent commented on #129
@cameronbraid docker hub always builds from the latest master branch, so any changes on there should exist in the docker image (even if it says it's 0.2.1, it probably isn't, which I've just realised, and should probably fix)

@MWilkinson I'm fairly sure this line does it (http -> ws, https -> wss):
https://github.com/mailhog/MailHog-UI/blob/bb034fed0530baa12c3a9fae44b8aef39b370c3b/assets/js/contr

[2017-04-16 20:23] ian-kent commented on #139
Good find, thanks @fredleger, just need to work out how to fix it 😀

[2017-04-16 20:35] ian-kent commented on #138
Hi @fredleger - it's not really meant for this - it's purely a testing tool, as @kohenkatz points out its not designed to be exposed as a public server (and would be relatively dangerous to do so!)

Can't really suggest any alternatives - postfix/exim etc are fairly customisable, but also an unwanted headache if you don't have the time/experience to configure/maintain, and don't come with an API b

[2017-04-16 20:36] ian-kent commented on #138
p.s. I'll close the issue if that's ok, but I'm more than happy to accept any PRs with additional functionality if they don't complicate the primary use-case for MailHog

[2017-04-16 20:36] #138 closed

[2017-04-16 20:38] ian-kent commented on #137
There isn't currently - out of interest, what would be the use-case for that? Since it's only designed to be used in testing, it shouldn't really matter what the server identity is?

But since adding an optional config parameter for it would be easy enough, I'll do it anyway 😄

[2017-04-16 21:10] ian-kent commented on #149
:+1: sorry its taken so long, it'll be out soon! I'll keep this open until it is

[2017-04-16 21:13] ian-kent commented on #147
Hi @bsbak

I can't reproduce it on the latest master branch (d4927bc7e6fc2c887b559e0b85f84dc2f5af3128) with any of my test messages.

Can you provide logs from MailHog, or the API response (e.g. from network tab on dev tools in chrome, or curl)? And check for any console log errors from the client UI javascript.

It looks like the From header in the message is missing, hasn't been parsed correctly

[2017-04-16 21:35] ian-kent commented on #111
That makes sense, but I'm not sure how MailHog helps with that? Any reply from the UI would just be sent to MailHog, which you'd need to read from the API, and I can't see how that is useful?

If your application is designed to receive emails via SMTP (i.e. it's acting as a mail server itself), that isn't something which is supported by MailHog - though in theory it could.

[2017-04-16 21:39] ian-kent commented on #144
Hi @nickbg321

Any chance you could provide the SMTP message (either MailHog logs, or the raw SMTP data) please?

That error suggests the `From` header is missing, or hasn't been parsed correctly, but its hard to say without seeing the message data

[2017-04-16 21:40] ian-kent commented on #147
I think this is a duplicate of #144 - I'll close it for now, but please reopen if its a different issue

[2017-04-16 21:40] #147 closed

[2017-04-16 21:43] ian-kent commented on #142
Hi @staelche

Can you give a bit more info please, e.g. logs from MailHog or more info on the VM configuration?

When you say `disconnected` - you mean the indicator in the web UI? That suggests the websocket connection isn't working - do you see any errors in your browsers javascript console or network tab?

Also do you have any proxies (e.g. nginx or haproxy) in front of it?

Without seeing any

[2017-04-16 21:45] ian-kent commented on #141
👍

Good point, I only ever test with messages smaller than that so hadn't even considered it!

Moving to GridFS is possible, but does mean a bit of refactoring (at the moment the entire message is stored as a single document, which would need to be broken up to store MIME parts separately)

[2017-04-16 21:52] ian-kent commented on #140
Hi @brothman01

Could you give a bit more info please?

What do you mean by 'does not catch any outgoing mail' - does it make a successful connection to MailHog, and then fail to deliver the message (i.e. not in UI or API), or does it fail to even connect to MailHog, or does it appear to connect to MailHog and successful delivers but MailHog doesn't show any corresponding log output etc?

The only

[2017-04-16 21:54] ian-kent commented on #134
Hi @SuperPat45, closing because it's a duplicate of #106

[2017-04-16 21:54] #134 closed

[2017-04-16 22:17] ian-kent commented on #131
Without any configuration MailHog will use in-memory storage.

Can you confirm which storage backend it is - it'll say in the MailHog logs on startup. I've had a look at the MongoDB and in-memory backend code and there's no _obvious_ bug, but narrowing it down a bit would help!

[2017-04-16 22:20] ian-kent commented on #131
I take that back - there is a bug in the in-memory storage which would cause exactly this!

[2017-04-16 22:46] ian-kent commented on #126
Thanks for the info - glad its working on Codeigniter 3

I'll leave MailHog alone for this one - it suggests a client bug not a MailHog bug, but if it becomes a problem again let me know.

[2017-04-16 22:46] #126 closed

[2017-04-16 22:48] ian-kent commented on #125
Thanks - I'll add it to the list, but it won't be high priority

If you're not in control of the message content, it's not really what MailHog was designed for (there'll be some serious security risks in using MailHog to handle untrusted message data), so even if it didn't automatically load remote images, I wouldn't recommend using it unless you're generating the message content (e.g. testing an

[2017-04-16 22:49] ian-kent commented on #112
I'll close this, but if it becomes an issue again let me know

[2017-04-16 22:49] #112 closed

[2017-04-16 23:00] ian-kent commented on #106
So it sounds like there's two distinct use-cases here, with subtle differences:

1. _To be able to release the message as-is to another mail server_ - MailHog would send the message to one mail server, and that mail server would be responsible for delivering to all recipients (MailHog is a proxy)

2. _To be able to release the message to its intended recipients_ - MailHog would need to parse the m

[2017-04-16 23:06] ian-kent commented on #99
:+1: thanks for the info, I've added the info to the MailHog README including a php.ini example

[2017-04-16 23:06] #99 closed

[2017-04-16 23:12] ian-kent commented on #98
@jankonas @eymclueles you can't currently make the UI always display CC/BCC data, but it's there if you click the `Show Headers` button on the right

I'll update the UI to display CC/BCC headers automatically, which should partially resolve this

[2017-04-16 23:34] ian-kent commented on #149
New version (1.0.0) has been released!

[2017-04-16 23:34] #149 closed

[2017-04-17 00:39] schnatterer commented on #146
Thanks so much!
Looking forward to the next release. Do you have a rough idea when it's going to be published?

[2017-04-17 13:01] chines commented on #106
#1 is the one I was describing, just forwarding the raw message along to another mail server.

Thanks for the suggestion against using it in a production environment, and I hear that loud and clear.   I'm going to test it for a few months and see if it's stable enough.... ;)  The benefit would be pretty high and as long as I have a fairly simple recovery plan for failure scenarios, I think it woul

[2017-04-17 14:53] ian-kent commented on #146
It's already out as v1.0.0 😄

And the tags seem to be working 🎉

https://hub.docker.com/r/mailhog/mailhog/tags/

[2017-04-17 18:29] obrienmd commented on #106
Option 1 would be fantastic :)

[2017-04-17 22:26] schnatterer commented on #146
Great, That's wonderful news. Thanks again!

[2017-04-18 01:35] AGhost-7 commented on #111
What I'm suggesting is adding such a feature. I tried to add the feature but got stuck trying to test out my change. Having some information on how to get started to develop for this project would help greatly as I'm not familiar with Go.

[2017-04-18 05:49] talawahtech commented on #129
This is now working for me with the v1.0,0 docker tag. Thanks!

[2017-04-19 11:22] urbaniak commented on #111
From web interface there can be a way to reply to the message (which gets stored in different inbox, accessible only via IMAP for example). That will allow to fully test some message replies (just like reply to comment via email in github) using MailHog.

[2017-04-25 09:45] Clive-Anderson opened #150 "Display date & time of message in Inbox"
#Enhancement

Show the date & time of the email within the Inbox display, rather than 10 minutes ago, an hour ago, 10 hours ago, etc.

When looking for particular messages, I know (from the logs of my application under test) the exact time that the message was sent. It is much easier to find if the exact time and date is displayed in the Inbox, rather than a rough approximation.

[2017-04-25 09:48] Clive-Anderson opened #151 "Allow searching by Date & Time"
#Enhancement

It would be useful to search using date/time that the email was sent, both via the GUI and API.

Search could be implemented similar to GMail, e.g.:

[code]

[2017-04-26 19:16] fkrauthan opened #152 "Multi (filtered) mailbox support"
I was wondering how hard would it be to add support for multiple mailboxes based on filters? Kinda like grouping messages together by filter. Use case could be a full dev team using MailHog for mail testing while each tester sets up filter kinda like:

```All emails starting with "fkrauthan-.*" should go to MailBox "fkrauthan"```

Now the UI would not just show Inbox which could be all emails comb

[2017-04-28 15:42] waynew commented on #106
Option 1 is the kind of thing I need. @chines I think in your other situations you want an entirely different approach - I'd probably just configure your tool/existing MTA to BCC every email to a research box or something.

[2017-05-09 08:13] chalasr commented on #107
Bump :)

[2017-05-12 07:25] lammensj commented on #142
I am also experiencing the same disconnected button: `(unknown) WebSocket connection to 'wss://HOST/api/v2/websocket' failed: Connection closed before receiving a handshake response`. Running Mailhog behind an Apache proxy, proxy_wstunnel is enabled. Vhost attached.

[mailhog.vhost.conf.txt](https://github.com/mailhog/MailHog/files/995331/mailhog.vhost.conf.txt)

[2017-05-17 10:09] vedmant commented on #78
Just switched test server to use Mailhog, and two main things that are missing if to compare to mailtrap or mailcatcher: read/undead messages and view message with messages list on the same screen. And this is kind of deal breaker for me, having to go back to open new message and not even knowing what did you open recently (no read status) makes it uncomfortable to use. Probably will be switching

[2017-05-18 14:35] RuchyK commented on #40
@fredleger ,
running this command fails with this error:
[code]
any idea?
The location passed to `auth-file` is on the host machine or on the docker?

[2017-05-18 16:34] fredleger commented on #40
@RuchyK :

i can see 2 differents issues:

1) You need to use double dashes before
[code]

2) The file must be in the container indeed

[2017-05-19 17:24] GabLeRoux commented on #40
`uth-file`?

[2017-05-20 08:05] fredleger commented on #40
I guess there is something with the dashes here. -a is shortand for -auth-file ?

[2017-05-21 06:39] RuchyK commented on #40
thanks @GabLeRoux !
docker solution worked!!

[2017-05-23 09:19] mac2000 opened #153 "[Feature request] API endpoint that returns decoded mail html"
Will be very nice to have an api endpoint which will return html of the mail by its id like mailcacher does, it will be so much easier for QA to write automated tests instead of looking around for a ways to decode mail which seems to be not an easy tasks unfortunately

[2017-06-02 23:08] bishless commented on #140
It’s working for me… though I went about it in a slightly different way.

1. I updated brew and installed mailhog
2. I set mailhog to run as a service `brew services start mailhog`.
3. I was getting syntax warnings in my editor when I attempted to use the plugin code above so I tweaked it - [Configure WordPress on Valet to use MailHog · GitHub](https://gist.github.com/bishless/44ec6f6d3da0cc4a02bb

[2017-06-03 16:59] Feyisayo commented on #99
I would like to add that using sendmail in debian docker containers seem to have issues. A good replacement is ssmtp.

Install using `apt install ssmtp`

ssmtp can be configured to use mailhog by editing `/etc/ssmtp/ssmtp.conf` like so:
[code]
PHP can then be configured in php.ini like so:
`sendmail_path = /usr/sbin/ssmtp -t`

Some more details on ssmtp can be found [here](https://wiki.debian.org/

[2017-06-10 21:18] jcornide commented on #60
I have the same problem, I can connect to the ui (but from outside the host) but I can't use mailhog from the same host

[2017-06-12 05:37] amymengfan commented on #98
@ian-kent Which release can I display the CC/BCC in the Web UI?

[2017-06-12 16:46] eymclueles commented on #98
@amymengfan This issue is still open, so I don't think BCC/CC has been implemented yet.

[2017-06-15 09:55] crazy-max opened #154 "Trojan Gen:Variant.Graftor.369260 ?"
Hi,

A user of [Neard](http://neard.io) indicates a Bit Defender alert (crazy-max/neard#278).
I have made a [virustotal scan](https://www.virustotal.com/fr/file/0c0e85b6e66e8f43318a298531a9a9d8aad98ef77744042f7c3049970bb57e42/analysis/) and it indicates the presence of a trojan of Graftor type (PUP?). False positive ?

Thanks!

![image](https://user-images.githubusercontent.com/1951866/27176065-7a

[2017-06-19 07:29] c92ps3 opened #155 "Error while interpolating"
I installed mailhog through docker, but it doesn't work.
http://i.imgur.com/gM200Xf.png
Full text of error: http://ix.io/xFa

[2017-06-19 10:43] amymengfan commented on #98
@eymclueles OK, thank you. I will wait, or maybe try to fix it and rebuild the app.

[2017-06-20 22:19] Lewiscowles1986 commented on #152
The filtering logic is implemented on the client generally. I'm not sure there is a way to send an email to a specific folder without client rules to move the message. AFAIK everything goes via inbox.

[2017-06-20 22:22] fkrauthan commented on #152
Well but this system contains a client^^ Thats why I opened this request. It is not a mailserver it is a mail testing tool that can implement something like this.

[2017-06-20 22:25] Lewiscowles1986 commented on #98
So long as headers contain CC and BCC (testable via API?), that should be more than sufficient for testing that an email was sent with those headers. The idea of testing a server that is not controllable via application beyond following specification is confusing to me.

[2017-06-24 09:56] mvaljento commented on #22
@barryrld , did you find any solution to this? The emails render correctly on other email clients, but MailHog shows nothing in the HTML tab.

[2017-06-24 17:37] shyim commented on #155
Try again with disabled styleish

[2017-06-25 08:36] davidlemaitre commented on #78
I switched recently to mailhog and the read/unread state is a big missing feature for me. I'm expecting to see unread messages at a glance.

The counter next to "Inbox" should be the number of unread messages and not the total number of messages. The subject of read messages should not be in bold in the message list.

[2017-06-26 14:54] meganuke19 opened #158 "Configure JIM parameters with web UI"
How can I change JIM params with web UI? Or maybe can I set it as Docker container params?

[2017-06-30 12:05] Fuco1 commented on #27
This still seems to not work.  When I send the same email via mandrill to my gmail inbox things render properly.

[2017-07-03 11:34] n3o77 commented on #60
I'm using the following setting with swiftmailer and it works:

[code]

[code]

[2017-07-05 20:16] nickbg321 commented on #144
Hey @ian-kent ,

You're right, the error only seems to occur if you try to send a message without headers.
I have attached the raw mail below:

[code]

[2017-07-06 10:24] taharmk opened #159 "Access issue"
hello every one,

i downloaded windowns 386 release of mailhog, i lunched it :
****************************************************************************
2017/07/06 11:21:30 Using in-memory storage
2017/07/06 11:21:30 [SMTP] Binding to address: 0.0.0.0:1025
[HTTP] Binding to address: 0.0.0.0:8025
2017/07/06 11:21:30 Serving under http://0.0.0.0:8025/
Creating API v1 with WebPath:
Creating API v2

[2017-07-10 13:23] aussielunix commented on #139
it looks like the binary was built without specifying a build number.
[this](https://stackoverflow.com/questions/11354518/golang-application-auto-build-versioning) explains how the version is being set.

[2017-07-14 02:01] TigerWolf commented on #58
One of our testers is testing on IE 11 and the HTML display is not working. Most things work except for the HTML tab (plain text and source work).

It appears that the iframe srcdoc= is not working?

Maybe add this? https://github.com/jugglinmike/srcdoc-polyfill

[2017-07-17 14:53] pypetey opened #160 "Can't download Windows release of MailHog - SignatureDoesNotMatch - The request signature we calculated does not match the signature you provided. Check your key and signing method"
<Code>SignatureDoesNotMatch</Code><Message>The request signature we calculated does not match the signature you provided. Check your key and signing method.</Message>

[2017-07-18 13:25] npiasecki commented on #142
I was also experiencing this while proxying from Apache (for SSL) on Centos 7.whatever. Here is a virtual host that ended up working. The key seemed to be specifying the explicit ProxyPass for the websocket path, and putting that before the HTTP ProxyPass directive.

		<IfModule mod_ssl.c>
		<VirtualHost *:443>
			ProxyPreserveHost On
			ProxyRequests Off
			ServerName mailhog.yourhost.example

[2017-07-24 16:31] crazy-max commented on #154
Some feedback about this issue please ?

[2017-07-25 10:38] valugi opened #161 "SSL certificates on download site are wrong"
Hi ,
I am trying to get MailHog_linux_amd64 v.1.0.0 and browser screams alerts in all parts. The same happens when trying to install 0.2.1 through Ansible - for this I opened a bug [there](https://github.com/geerlingguy/ansible-role-mailhog/issues/19) although I guess the issues are related.

<img width="1095" alt="screen shot 2017-07-25 at 12 37 50" src="https://user-images.githubusercontent.com/

[2017-07-28 02:24] GUI opened #162 "Headers are treated case sensitively"
If MailHog receives messages where the headers aren't in the expected case, then MailHog's interface doesn't display the message properly. For example, if the headers are all lower case (so 'subject' instead of 'Subject'), then the to/from, subject, and HTML message parsing doesn't work as expected.

- Here's a quick example using `mhsendmail`:

[code]

    In the inbox this message shows up as be

[2017-07-29 18:06] swrobel opened #163 "Feature: reject invalid recipient emails"
"Real" SMTP servers will reject invalid recipient emails, but you can send an email to 'test' with Mailhog and it's accepted. I think it will be a much more useful testing platform if it behaves like the real world and throws a delivery error on invalid email address or empty recipient.

[2017-07-31 11:15] ian-kent commented on #154
Hi @crazy-max

There shouldn't be any reason for MailHog to fail, so I'd expect its a false positive - since it's a generic detector which uses heuristics, it's difficult to pinpoint exactly what inside MailHog could triggering it.

I'm confident the MailHog codebase itself is clean, but without manually inspecting the code for every dependency it uses I couldn't 100% guarantee the output binaries

[2017-07-31 17:56] cocodrino opened #164 "send incoming emails to api"
Hi, good day, I need send the incoming emails to some json api, would be possible with mailhog??...do a http request with the incoming email information?...thank you

[2017-08-01 18:13] crazy-max commented on #154
Hi @ian-kent,

Thanks for your answer but yeah it seems to be a PUP

[2017-08-01 18:13] #154 closed

[2017-08-04 05:17] c92ps3 commented on #155
thanks

[2017-08-04 05:17] #155 closed

[2017-08-04 10:27] SamuAlfageme opened #165 "Use the right Media Type for JSON: "application/json" instead of "text/json""
API/v2 is using `Content-Type: "text/json"` headers instead.

Reference: https://www.ietf.org/rfc/rfc4627.txt & https://stackoverflow.com/q/477816/2172072

[2017-08-04 10:55] immjohn commented on #84
Hello @ian-kent Pinging this topic as it has been a while and this would make it possible for me to use mailhog.

[2017-08-06 00:04] 123andy commented on #113
Hi Ian.  I just installed 1.0.0 with home brew and it still appears to be case sensitive on headers - e.g. `Content-type:` doesn't work, but `Content-Type` does.

[2017-08-16 08:16] cweiske opened #166 "Messages not sorted by date"
We're running Mailhog 1.0.0 and have the problem that messages are not sorted by date, which makes it hard to find current/new messages in the list:

![2017-08-16 auswahl_001](https://user-images.githubusercontent.com/59036/29353746-8e6688c4-826b-11e7-997c-4d22460de265.png)
![2017-08-16 mailhog date sorting](https://user-images.githubusercontent.com/59036/29353825-c82326bc-826b-11e7-8daf-a9dd1c128

[2017-08-16 14:40] gertmedia24 opened #167 "Error when using sendmail_path with -S option in php.ini"
As per the MailHog readme, I updated my php.ini to use:

Now when trying to send mail getting error:

[Zend_Mail_Transport_Exception]
  Unable to send mail.

Also, running '/usr/sbin/sendmail -S mail:1025'  in the terminal says:

Some 'man' options here: http://www.sendmail.org/~ca/email/man/sendmail.html
Could any of these be used to get MailHog to work?

Any help much appreciated

[2017-08-16 21:54] mfernea commented on #167
I got the same problem on Mac 10.12.6. I got it working by using `sendmail_path = /usr/sbin/sendmail -t -i` and adding `relayhost = 127.0.0.1:1025` in /etc/postfix/main.cf. Hope it helps!

[2017-08-17 08:33] gertmedia24 commented on #167
Thanks @mfernea !

Also came across this post (same thing pretty much):
https://gist.github.com/madalinignisca/55e3cbe1cbd9d3af2daea48b045eeb89

[2017-08-17 08:33] #167 closed

[2017-08-17 09:34] cweiske opened #168 "Creation date wrong when searching"
When searching for mails, all of them have a date of "a few seconds ago". They have their correct date in the normal list.

Normal list: `/api/v2/messages?limit=100`
[code]

Search list: `/api/v2/search?kind=containing&query=smoke`
[code]

[2017-08-17 22:01] mfernea commented on #167
I would reopen this as the documentation is not accurate. It's meant for Mac OSX as it mentions brew, but the -S option doesn't seem to work. Also, I'm not sure if this solution would be the prefered one.

[2017-08-21 03:30] TigerWolf opened #169 "iFrame broken in IE11."
There is an issue with MailHog in IE 11.

It appears that the iframe srcdoc= is not working.

As a possible solution, this polyfill could be added: https://github.com/jugglinmike/srcdoc-polyfill

[2017-08-26 11:43] nickschuch opened #170 "404 Response Code"
I am trying to use this as a backend behind a load balancer.

The backend returns a 404, I am able to replicate with a curl request (works via my browser).

[code]

I am going to do some debugging, wanted to create an issue to see if others have seen this behavior.

[2017-09-06 10:23] meranos commented on #105
Any news on this one? We would love to use MailHog in our testing environment, but we are a bit concerned about long term memory usage.

[2017-09-06 15:24] dr29bart opened #171 "Download mail UI link is not working"
mailhog is running in docker
[code]

After pressing this button
![image](https://user-images.githubusercontent.com/1547167/30120050-6d773cfa-9330-11e7-9d4d-12a6710d224e.png)

page appears
![image](https://user-images.githubusercontent.com/1547167/30120065-792a6d7e-9330-11e7-96f5-c451e4eaa750.png)

docker logs fakesmtp

[code]

[2017-09-07 09:28] dr29bart opened #172 "Add mailhog release version to the UI"
I'd like to see the version of running MailHog server on the UI landing page

[2017-09-11 11:42] mkrsn opened #173 "[Feature] ACLs"
Hi,

not sure if this is useful for the majority but it would be nice to have something like ACLs, TransportRules or something else to separate Mails from various Dev-/Test-Platforms (e.g. based on recipient or Subjects).

Example:
*@dev.platform1.local -> Mailhog-user1
*@test.platform1.local -> Mailhog-user1
(root|webmaster)@test.platform1.local -> Mailhog-user2
*@dev.platform2.local -> Mailhog-u

[2017-09-11 12:27] mkrsn commented on #152
@fkrauthan is right. MailHog doesn't offer a IMAP4 / POP3 Service - it just offers a Web-base API and is therefore the Client.

The Filter logic is not generally implemented on the Client-side... Several MDAs (like Procmail or Maildrop etc...) offers this feature server-sided!

[2017-09-12 10:30] mkrsn opened #174 "[Bug] Problem with -api-bind-addr & -api-host"
Hi,

it seems to be that there is a Problem with the parameters -api-bind-addr & -api-host.

netstat says:

Best Regards

Matthias

[2017-09-12 11:35] mkrsn commented on #163
Hi,

you're mistaken - "test" is a valid mail-address!

It's the local part of the address and addresses always a local User on the receiving Server. Because of MailHog doesn't know anything about local User it **should** accept such kind of Mails.

You can easily proof it with a Linux-PC

Best Regards

Matthias

[2017-09-13 13:12] mkrsn commented on #174
I've found the Problem... Didn't noticed that there is also a '-ui-bind-addr'...

Never mind... :)

[2017-09-13 13:12] #174 closed

[2017-09-13 13:14] bessie555 opened #175 "Can't access UI source"
How can one access the UI source to extend UI functionality. Is it possible to decompile / extract the go-bindata?

[2017-09-13 13:55] mkrsn commented on #117
Here is the equivalent config for the Apache

[2017-09-13 14:04] #175 closed

[2017-09-13 14:04] bessie555 commented on #175
Found UI sub project

[2017-09-13 14:18] bessie555 commented on #152
This should be possible by adding logic to the web ui, but this will then only apply to one user. Any other user using the same instance will not have access to the filters. In other words each user has to temporary set it up as they want it.

As a basic attempt we could just add basic Angular filters - maybe as tabs - or maybe even just a text filter at the top of the inbox. This would be very us

[2017-09-13 17:11] fkrauthan commented on #152
I would be already happy with some basic filters that you can quickly switch in between:
* By Recipient Domain
* By Sender Domain
* By Sender
* By Recipient
* By Date (group all emails on a day to day base together)

Obviously the ultimate solution would be to have filters that can be stored on the server similar to if you search for emails with thunderbird (being able to filter by headers, subjec

[2017-09-15 16:06] fundo-dev opened #176 "ISO-8859-1 header not decoded"
Header are not decoded when containing accented characters (ISO-8859-1).

Email header
`To: Mrs =?ISO-8859-1?Q?Val=C3=A9rie=20Dupont?= <valerie.dupont@example.com>`

Display in mailhog
`To	{{ tryDecodeMime((preview.Content.Headers["To"] || []).join(', ') || preview.To[0].Mailbox + "@" + preview.To[0].Domain) }}`

Expected display
`To: Mrs Valérie Dupont`

[2017-09-19 14:36] jdgrieco commented on #176
+1, same happens to me

[2017-09-19 15:04] scara commented on #176
Are you sure?
_ISO-8859-1_ is made of 1 byte (8-bit character encoding) i.e. the OP's encoded string is based on _UTF-8_: indeed `c3 a9` in `utf-8` represents the _latin small letter e with acute_ => `é`.

Try yourself by replacing `ISO-8859-1` w/ `UTF-8`.

HTH,
Matteo

[2017-09-20 10:43] fundo-dev commented on #176
You're right, I missed that point. Wrong configuration in my mailer, thanks.
Garbage in, garbage out...

Anyway, I was expecting the following output:
`To: Mrs ValÃ©rie Dupont`

which is more useful to me than `{{ tryDecodeMime((...`

Thanks,
Ivan

[2017-09-20 11:15] scara commented on #176
That's correct, I was looking at the first expected value.

Wondering if this issue -w/ the new expected value - should be "moved" to mailhog/MailHog-UI.

[2017-09-20 13:57] fundo-dev commented on #176
This is actually a duplicate of (closed) issue https://github.com/mailhog/MailHog/issues/89. ISO-8859-1 cannot be decoded.

JavaScript error:
[code]
Not fixed in MailHog v1.0.0

[2017-09-20 14:17] scara commented on #176
https://github.com/mailhog/MailHog-UI/commit/2ed49d703422c00c734882808bec9872cb8fc6ce, the fix for #89 talks about 3 new files that actually are in v1.0.0 of **MailHog-UI**: https://github.com/mailhog/MailHog-UI/tree/v1.0.0/assets/js.

HTH,
Matteo

[2017-09-20 15:02] fundo-dev commented on #176
Yes, file `iso88591_map.js` is present in v1.0.0

[code]
but it is not loaded, depite this comment https://github.com/mailhog/MailHog-UI/blob/v1.0.0/assets/js/strutil.js#L390

[code]

Ivan

[2017-09-20 16:09] scara commented on #176
Apologize, I was trusting the comment in the code :wink:.
Could you try to add what looks like missing here, from https://github.com/jupiter/node-strutil/blob/5e632e6489371c5b4f608d7091222921b79f9eeb/lib/strutil.js#L381 ? Just before https://github.com/mailhog/MailHog-UI/blob/ca6a9920f668fffc47b7f5489b12bc9fedfda6d2/assets/js/strutil.js#L388.

`require` calls are missing: maybe a diff between the

[2017-09-20 17:04] fundo-dev commented on #176
Yes, seems that only `require` calls are missing from `strutils.js`.
`require` itself is not defined (`Uncaught ReferenceError: require is not defined`).
If I manually define `ISO88591_MAP_ENCODED` with content of `/js/iso88591_map.js` (except the line with `export` because it is not defined either), well, encoded string is correctly decoded.

Thanks,
Ivan

[2017-09-20 21:22] scara commented on #176
Quite new to MailHog, I missed the RequireJS missing :blush:.
BTW, now there are all the bits and pieces to fix the mainstream, adding the missing definitions inline w/o loading them from external files.

[2017-09-26 07:45] fundo-dev commented on #176
Matteo, I'm not familiar with issues on GitHub.
Does it means that you're going to fix this, or is there something else to be done?

Thanks,
Ivan

[2017-10-04 09:34] cumuru commented on #106
+1 for option one. For my use case it would be enough to prefill the recipient field of release message modal dialog with the original recipient. Nonetheless another action to release to all original recipients (including CC and BCC) would cover far more use cases.

[2017-10-05 14:38] clickthisnick opened #177 "Is there a way to turn off the "DEBUG" section that shows BCC in an email?"
When an email has a BCC, there is a "DEBUG" section in the lower part of the email (Only on mailhog). Is there a way to turn off the debug mode so that does not show up?

![debug-email-example](https://user-images.githubusercontent.com/7855189/31232983-648f660e-a9b9-11e7-91f2-7ccc696652aa.png)

[2017-10-26 20:48] MikeParkin commented on #84
Ping @ian-kent any update on this, with most of the web moving to TLS it would be great to get this included too. There is normally quite a bit of sensitive data kept within MailHog, so amazing to get it running under a secure protocol.

The UI is the main part we would like securing :-) If you require any help with this please point us in the right direction / give guidance about how you see this

[2017-10-27 14:42] adamkowalewski commented on #169
![mailhog-ie-empty-iframe](https://user-images.githubusercontent.com/4206319/32109679-a9bcb9f6-bb35-11e7-885a-1db2ff03f983.png)

[2017-10-27 15:03] adamkowalewski commented on #169
Polyfill solution mentioned by @TigerWolf does work.

[2017-10-28 05:32] TigerWolf commented on #169
Was it easy to add? Any chance you can make a Pull Request?

[2017-10-30 11:03] tassoman commented on #166
Looks like the same here

[2017-11-03 06:24] sabenok opened #178 "Do not limit messages when using maildir storage driver"
When using maildir storage and executing the request **api/v2/messages?limit=50** all messages are returned, not specified in the limit.
The problem can be seen in the maildir storage code https://github.com/mailhog/storage/blob/master/maildir.go#L127

[2017-11-06 15:44] y2keeper commented on #60
I had the same issue and got it to work using @n3o77 's example.

The problem was that the `config.yml` file is missing the `port: '%mailer_port%'` directive so setting `mailer_port` in `parameters.yml` has no effect.

Personally I found that the `auth_mode` bit isn't needed.

[2017-11-10 11:04] RubiousShaun commented on #22
I'm also seeing HTML emails in plain text.

[2017-11-10 13:24] WFP2TAR opened #180 "Dependency to ::systemd not documented"
Using this puppet module to install Mailhog and using Systemd fails because missing dependency to ::systemd. Which dependency should be used? Maybe this: [camptocamp/puppet-systemd](https://github.com/camptocamp/puppet-systemd)?

[2017-11-14 13:04] opi commented on #117
Related comment about Apache proxy configuration https://github.com/mailhog/MailHog/issues/142#issuecomment-316062636

[2017-11-15 13:41] yukulele commented on #113
https://github.com/mailhog/MailHog-UI/pull/29

[2017-11-15 16:20] JamesValleyT opened #181 "Can you configure authentication (-auth-file) with an environment variable?"
https://github.com/mailhog/MailHog/blob/master/docs/Auth.md says you can pass " -auth-file=docs/example-auth" with a password file.

https://github.com/mailhog/MailHog/blob/master/docs/CONFIG.md talks about configuration with  command line options or environment variables but makes no mention of -auth-file

Can you configure authentication (-auth-file) with an environment variable?

Thanks,
James

[2017-11-16 09:29] rgl opened #182 "Add support for the browser back button"
While reading a message, it would be really nice to use the browser back button to return to the mail list.

[2017-11-17 10:20] thijsnaus commented on #151
This would be great! Looking forward to see this in MailHog! Many thanks in advance!

[2017-11-20 15:37] dreic opened #183 "When filestorage is used display filter is broken"
Hi,

we noticed that when mailhog is set to use file storage instead of memory initial display filter of 50 mails per page can't be changed after you select other number (10,75,100...) This bug is not present when memory is used for storing mails.

[2017-11-21 09:25] matglas commented on #74
Is there any known progress on this?

[2017-11-22 07:28] distributev opened #185 "Symantec Endpoint Protection quarantines MailHog as Malware"
Please see the below screenshot

![mailhog-symantec](https://user-images.githubusercontent.com/19224635/33114839-f7e95a34-cf5e-11e7-80a3-0a30cf2e1d9e.jpg)

[2017-11-23 01:50] andrew-jones commented on #181
Yes you can, its defined here https://github.com/mailhog/MailHog/blob/d6585029d60980c67bd988a18532f2b91d10f385/config/config.go#L34

[2017-11-23 11:02] patkar commented on #152
That's a nice idea here. Maybe you could store those filters/mailbox configs like you store outgoing smtp servers on disk and supply them on startup. So on a shared mailhog instance you could start with a default mailbox filtering/grouping by recipient for example :)

[2017-11-29 10:20] kafecho commented on #84
Hi all, do you know if MailHog supports START TLS for incoming connections?

[2017-12-08 16:10] ihard commented on #166
no sorting by date is the only serious flaw at the moment for me

[2017-12-12 11:18] oskaremil opened #187 "Configure Jim the chaos monkey when starting mailhog in a docker container"
I would like to have the ability to pass arguments (environment variables ?) to configure jim the chaos monkey when starting mailhog in a docker container.

[2017-12-16 11:42] wjkohnen opened #188 "Doesn't accept empty return-path (e.g. non deliver notification)"
MailHog doesn't accept the empty return-path (e.g. non deliver notification). See [RFC5321 4.5.5](https://tools.ietf.org/html/rfc5321#section-4.5.5).

Actual behaviour:
[code]

Expected behaviour:
[code]

[2017-12-27 08:37] Spark3000 opened #189 "Favicon Count"
This is a feature request. Would be great to have a favicon count update like Mailcatcher.

🙏

[2018-01-07 08:10] commitay opened #190 "Tag a new release?"
Homebrew is in the process of deprecating `go_resource` blocks. https://github.com/Homebrew/homebrew-core/issues/21801

Would it be possible to tag a new release so we can use the `/vendor` directory?

Thanks!

[2018-01-11 21:30] svengerlach commented on #187
@oskaremil as the Dockerfile defined "MailHog" as an entrypoint, you can pass the arguments as a command. Docker will make sure the command is appended to the defined entrypoint.

So, by running the following command, Jim will be automatically invited:

[code]

This will make sure the following command is run within the container:

[code]

[2018-01-19 11:11] juampynr commented on #16
I followed [this guide](https://askubuntu.com/a/919059/166681) to set up the service in Ubuntu 16. Here are the steps:

1. Create `cat /etc/systemd/system/mailhog.service`.
2. Paste the following in it:
[code]

3. Start the service: `sudo systemctl start mailhog`.
4. Enable the service to run on boot: `sudo systemctl enable mailhog`
5. Restart.
6. Check that the web interface is running by opening

[2018-02-08 06:04] faithbible opened #194 "Mac Binary opens in TextEdit"
I recognize that Homebrew is the suggested pathway to running MailHog.  But since you provided the binaries,  I thought I'd try them...

I am running Mac OS X 10.13.3
I have attempted to run both MailHog binaries – **darwin_amd64** and **darwin_386**.

Neither will load.  If I double-click to run, it asks me to bypass security settings and when I do, it opens up in TextEdit.  ?!   This happens for

[2018-02-09 20:16] timbirk opened #195 "[feature] SpamAssassin integration."
Hey, this is more of a placeholder for something I might look into. Integrating mailhog with a spam engine like the widely used SpamAssassin.

The motive behind this is to pre score email templates etc. Before they are ever sent to a customer.

I already use Selenium with mailhog to validate HTML email content (unsubscribe links, https resources / valid html). It would be awesome to have a spam fi

[2018-02-20 14:30] wunderkind2k1 opened #196 "Assets as plain files (not precompiled)"
Hi,

i was looking for non binary assets the other day to make improvements to the ui. Can't find any? Am I blind or do I have a point?

Cheers, Sven

[2018-02-21 07:30] oleksandr-fedorov commented on #127
Seems, the mentioned issue occurs due to DNS resolve under corporate
So such docker-compose config with VPN enabled causes issue:
` version: '2'
services:
mongo:
    image: *******/mongo:3.2
    ports:
      - "27017:27017"
  mailhog:
    image: mailhog/mailhog
    depends_on:
      - mongodb
    ports:
      - "1025:1025"
      - "8025:8025"
    environment:
      - "MH_STORAGE=mongodb"
      - "

[2018-02-21 08:34] wesamly commented on #194
From the repository Readme:
install it with Homebrew on MacOS - brew update && brew install mailhog

Tested and it is working.

[2018-02-21 16:28] faithbible commented on #194
I had thought that the point of a binary is to not require Homebrew for installation??

[2018-02-22 07:53] wesamly commented on #194
@faithbible I agree with you, I've already +1 your post.

Added my comment for those who can't wait till the issue is addressed by the developers.

[2018-02-22 08:31] dmsmidt commented on #98
It seems to me that Mailhog also doesn't support BCC only mails (empty TO), has anybody experience with that?

Mail error: `550 Invalid syntax in RCPT command`

[2018-02-22 09:44] robinknaapen commented on #162
I have a similar kind of issue. `{{ getSender(message) }}` shows up when I don't fill the message's body

No body
![image](https://user-images.githubusercontent.com/11732935/36530793-53262b34-17bc-11e8-932c-43dbc913e8b8.png)
![image](https://user-images.githubusercontent.com/11732935/36530838-75196544-17bc-11e8-9c41-6b8478cf040c.png)
![image](https://user-images.githubusercontent.com/11732935/3653

[2018-02-23 21:45] Chiron1991 commented on #196
MailHog is glued together from multiple other repositories. Frontend stuff is here: https://github.com/mailhog/MailHog-UI

[2018-02-25 11:14] wunderkind2k1 commented on #196
Ahkey. Thank your for pointing me to that project.

[2018-02-25 11:14] #196 closed

[2018-03-05 08:51] jonathanbossenger opened #197 "Web interface broken in Chrome"
I use a custom Vagrant install for local development with MailHog installed to catch all emails. Everything used to work brilliantly, but suddenly the web interface is broken in Chrome. I've tested it in Firefox and it does work there.

When I use Chrome dev tools to see if there are any errors, an error flashes in the console and then dissappears, so I can't even paste it here.

It looks like the

[2018-03-06 00:33] metametadata opened #198 "Incorrect parsing of empty text body part"
Mailhog REST API incorrectly populates `Body` and `Headers` fields when plain text MIME part is empty. Headers are not parsed and are treated as body:

**Email data:**

[code]

**Expected:**

[code]

**Actual:**

[code]

Full eml file:

[code]

Full result of `/api/v2/messages` call:

[code]

[2018-03-06 00:41] metametadata opened #199 "Unexpected two-byte -- parts"
Following the example from #198, Mailhog seems to incorrectly parse MIME parts and produces numerous `--` parts in the JSON output:

[code]

It also can be seen in GUI:

<img width="862" alt="screenshot 2018-03-06 02 38 16" src="https://user-images.githubusercontent.com/4689913/37007752-8a57effa-20e7-11e8-818e-d7ef378e5f2c.png">

[2018-03-06 00:47] metametadata opened #200 "Unexpected rendering of empty alternative plain text part"
**Steps:**
1) Send an email with some HTML but empty alternative plain text part. HTML is displayed correctly in UI.
2) Go to `Plain text` tab.

**Expected:** no text.

**Actual**: raw email is displayed partially:

<img width="733" alt="screenshot 2018-03-06 02 44 19" src="https://user-images.githubusercontent.com/4689913/37007897-4b6eb1f6-20e8-11e8-8c75-6fc2356383fd.png">

Full eml source:

[cod

[2018-03-15 11:02] vlad-tuznichenko commented on #71
+1

[2018-03-15 20:34] aMoniker commented on #197
I'm seeing the same issue with the version of MailHog that comes packaged with the latest Laravel Homestead vagrant box. The error in the console is:

[code]

[2018-03-20 19:06] vutkin commented on #171
I confirm.
This is reproducred when storage is directory.

[2018-03-20 19:07] vutkin commented on #199
I have this issue too.

[2018-03-20 20:22] metametadata commented on #199
I've mostly stopped using Mailhog HTTP API responses and switched to `javax.mail` for parsing.

[2018-03-24 17:35] bertoost commented on #101
@ian-kent How to do that in a docker-compose.yml file? Can you provide an example? Something with the command key?

[2018-03-27 09:47] vchaptsev commented on #56
docker-compose:

[code]

[2018-03-27 10:13] aHxShUM commented on #79
## Version

v1.0.0

## Steps to reproduce

1. search with keyword
![image](https://user-images.githubusercontent.com/4080806/37961034-0958a4b8-316c-11e8-9f4b-a88e25ad52b7.png)

2. click on the mail
![image](https://user-images.githubusercontent.com/4080806/37961144-5a3dcafc-316c-11e8-975e-6515452a6c47.png)

## Description

It should be a layout issue, as the mail view is always append at the botto

[2018-03-30 14:36] savinov commented on #74
As a workaround: call periodically `HTTP DELETE /api/v1/messages` to clean the storage.

[2018-03-30 15:36] hanoii commented on #26
I am still having height issues with the latest release.

[2018-04-02 12:36] savinov commented on #56
Why don't you use your own go-log everywhere in MailHog, but only in main.go?
https://github.com/ian-kent/go-log

[2018-04-04 10:43] rogervila commented on #101
My solution:

´´´
mailhog:
    restart: always
    tty: true
    privileged: true
    container_name: mailhog
    image: mailhog/mailhog:v1.0.0
    command: ["-storage=maildir", "-maildir-path=/maildir"]
    volumes:
      - ./volumes/mailhog/volume:/maildir
    ports:
      - "1025:1025"
      - "8025:8025"
´´´

[2018-04-09 03:59] dudleybutt commented on #169
could someone please create a release build with this change in?

[2018-04-14 13:39] tmaier opened #204 "Docker image is out-of-date"
https://hub.docker.com/r/mailhog/mailhog/ has been rebuilt one year ago. This is quite some time.

The repository is already an automated build repository.
You can link it to the repository of the base image. It would then get rebuilt when the linked repository got built.

To do so go to
https://hub.docker.com/r/mailhog/mailhog/~/settings/automated-builds/
scroll down to "Repository Links" and add

[2018-04-16 12:14] Mairu commented on #204
Last commit to master was about one year ago :wink:

[2018-04-16 17:16] mld commented on #204
Yeah, but there's a bunch of updates to Alpine since then, which seems to be @tmaier's point.

[2018-04-16 17:49] henno commented on #27
Example message: https://pastebin.com/KnenaHvR

[2018-04-18 13:47] tmaier commented on #204
Correct, @mld.

Sorry for not making this point clearer.

People often miss the added responsibility when we compare Caas with PaaS

[2018-04-20 15:02] AndoKarim opened #206 "Embedded image problem"
Hello everyone,
I'm using NodeMailer with Mailhog to test my mail.
The objective is to send an HTML email with embedded image. I used the cid in NodeMailer and put an img tag with that cid.
The image is displayed, no problem, but I see a lot of useless text in the mail as you can see in the screen.
Do you have an idea about the problem ?
When I send something without attachment I don't have it (On

[2018-04-28 07:27] jonathanbossenger commented on #197
I am now having the same problem in Firefox?

[2018-05-02 13:32] vutkin commented on #198
Confirmed

[2018-05-03 17:40] vukomir commented on #22
I have the same problem with HTML emails.

[2018-05-05 16:46] bertoost commented on #101
Thanks @rogervila .. Sorry for my late reply, but it works great!

[2018-05-07 10:09] macau23 opened #207 "Show sender machine in web gui?"
Great product, can I make a feature request?

It'd be a huge timesaver to show which machine the web interface were accepted from. A filter using that would help a lot too. Thanks.

[2018-05-07 18:19] blaggacao commented on #152
@yelizariev

[2018-05-17 07:52] macau23 opened #208 "Disable release button"
Disabling the release button as an option could be nice :)

[2018-05-18 14:12] JRaspass commented on #189
https://github.com/ejci/favico.js looks like an easy option.

[2018-05-27 01:45] SalahAdDin commented on #197
What's about opera?

[2018-05-27 08:36] jonathanbossenger commented on #197
The weird thing is that it happens periodically. At first I thought it was a browser extension, but now I'm not sure.

[2018-05-28 09:38] kajmagnus commented on #84
@MikeParkin

Can I ask how do you use MailHog? I thought it was for testing & development only, not production?

Anyway TLS and STARTTLS support for incoming email would be great :- )
The only thing I want to do, is to test sending emails via TLS from my app server and I haven't found *any* "dummy " smtp server that supports this (except for https://github.com/mailslurper/mailslurper but its Docke

[2018-05-29 20:13] adkron commented on #84
I would love to have this too. I'm working on a system that has to be able to be configured for secure email and it would be great to have mailhog for testing that.

[2018-05-31 00:45] pcrosthwaite opened #210 "WebUI customisation"
Hi,
I use mailhog on multiple test environments. i do this so that emails from one environment do not get mixed in with another environment.

What I would like to request is the ability to either change the logo/text in the top left of the UI, or perhaps change the colour of the WebUI so that each instance of MailHog is visibly different to the next.

thanks

[2018-06-05 09:23] wunderkind2k1 commented on #206
Hi Andro. Do you see this image in the mailhog webui oder in your mail-client?

[2018-06-05 09:40] MikeParkin commented on #84
@kajmagnus we use it on staging/development servers, but often those have copies of sensitive customer information, for example email order confirmations of a customers address.

We only run HTTPS for our websites, so having to read the email via http://$DOMAIN:PORT is frustrating. (Mainly because I always forget to remove the 's' when i've triggered the email on https://$DOMAIN!) but also obvious

[2018-06-05 12:14] wunderkind2k1 commented on #206
AFAIK know the webui has some trouble with embedded images. https://github.com/mailhog/MailHog/issues/27

[2018-06-05 19:49] kajmagnus commented on #84
@MikeParkin Ok :- ) Thanks for explaining.

[2018-06-11 04:39] rsangdoung opened #211 "Building Mailhog page - Broken link"
From this page:
https://github.com/mailhog/MailHog/blob/master/docs/BUILD.md

Broken link under link of "makefile":
https://github.com/mailhog/MailHog/blob/master/docs/Makefile

[2018-06-13 07:21] EvilBMP opened #212 "Is this project dead?"
Just wanted to ask for the project status, because there are so many open issues and pull requests. Last repository update was over a year ago...

So is this project already dead? @ian-kent ?

[2018-06-13 13:42] tanc commented on #40
I'm running this with the following:
[code]

Authentication works for the UI but the websockets are unable to connect due to http auth and get a 401 error. Any advice?

If I disable the `-auth-file` then it all works.

[2018-06-19 22:20] bremnes commented on #212
@ian-kent Any feedback on this?

Currently this project is starred over 3,500 times. It's a really good foundation, but it needs to be actively maintained. One thing is features not being implemented, another is security issues which will inevitably pop up as the docker base image and/or related packages/libraries are getting older.

There are a number of issues on the backlog in addition to pull

[2018-06-29 06:21] mwgamble commented on #208
Seconded. It feels like it would be very easy for the hand to slip and the finger to accidentally click the wrong button.

[2018-07-11 06:43] martingalovic opened #213 "Receiving every 1 minute"
Hey, i don't know for sure that this is mailhog's problem,
but the thing is, that my mails take too long to send.

After quick debugging I figured out, that mailhog is receiving / logging commands every 1 minute (see log).

I use CodeIgniter 2 (yeah, very old project) and CI_Email library.
Config is as follows:

[code]

and the error log:
[code]

thanks

EDIT:
Figured out that this is Codeigniter'

[2018-07-11 08:23] #213 closed

[2018-07-24 06:53] lonix1 commented on #212
Yeah just add some of the contributors as members, and let them share the burden of maintenance. Don't allow this project to die, it's really good.

[2018-08-28 08:12] macau23 commented on #207
Hi @ian-kent do you accept bounties for features?

[2018-08-29 22:49] scottsb commented on #167
Note that using the `relayhost` option means that if you want to release an email you have to use an external SMTP server, as the local postfix agent will just loop the email back to Mailhog.

[2018-08-30 18:16] ns3777k commented on #212
no activity since last year. guess it's dead?
any good forks?

[2018-08-31 05:26] SalahAdDin commented on #212
I am asking for a good fork too.

[2018-09-03 07:46] henno commented on #212
Looks like Ian has abandoned this project.

If anyone decides to start a an official fork, like @ialbors perhaps?, let us know here.

[2018-09-03 19:54] monobook commented on #212
Maybe I could to check all about Docker PRs...

[2018-09-04 07:40] ddebasilio commented on #212
@ian-kent Please come back, this is a very important part of local development for many people.

[2018-09-04 17:04] EvilBMP commented on #212
Maybe you should ask the people who already contributed or tried to contribute via pull requests first.

[2018-09-05 09:04] dhobi commented on #176
+1 (almost the) same happens to me.

[2018-09-05 14:50] tyndyll commented on #212
Happy to volunteer

[2018-09-06 09:04] ddebasilio commented on #212
I can help with some PR also.

[2018-09-06 15:36] monobook commented on #212
I think the main point is to find new admin of repo :)

[2018-09-06 15:50] ian-kent commented on #212
Hi everyone

Big thank you to @tyndyll and @gedge for offering their help - they're both now maintainers with admin permissions on the organisation, so hopefully things will start moving again soon.

And thank you all for your patience!

[2018-09-06 15:50] #212 closed

[2018-09-07 06:13] SalahAdDin commented on #24
it still does not enable us to download attachments.

[2018-09-14 11:51] tyndyll commented on #211
Resolved in https://github.com/mailhog/MailHog/pull/217

[2018-09-14 11:51] #211 closed

[2018-09-14 11:54] tyndyll commented on #207
@macau23 Can you explain a little more about what you are asking for?

[2018-09-14 11:55] tyndyll commented on #204
There are a few PR's in with Dockerfile updates. It's likely that they will be accepted (we're just testing them) at which point I'll close this

[2018-09-14 11:56] tyndyll commented on #189
@Spark3000 Can you add a visual of what you are asking for?

[2018-09-25 21:21] cig0 opened #218 "I need help debugging a not working MailHog install"
Hi,

I'm not sure if MailHog isn't working on my side out of my inability to correctly set it up, or if the issue resides in MH itself. I tried using the Docker image, and by installing it with Homebrew to no avail in neither of the cases.

Using Docker:
[code]
[code]

Using Homebrew:
[code]
<img width="504" alt="screen shot 2018-09-25 at 17 20 06" src="https://user-images.githubusercontent.com/39

[2018-09-26 06:06] ap-wtioit commented on #218
The command Line you are citing seems to be missing the content of the email:
`$echo -n "From: App <app@mailhog.local>\nTo: Test <test@mailhog.local>\nSubject: Test message\n\nSome content!" | ./mhsendmail --from="admin@mailhog.local" test@mailhog.local localhost:1025 -v`

[2018-09-26 13:41] cig0 commented on #218
My gosh -- in retrospective looks so evident.

Only thing I had to add to your example is to escape the exclamation mark in `Some content!`

TYVM @ap-wtioit

[2018-09-26 13:41] #218 closed

[2018-10-01 16:28] mputilin commented on #152
+1

[2018-10-03 16:40] tyndyll opened #220 "New Release"
Hi all,

We are currently working through the PR’s and merging them with a view to putting out a new release in the next few weeks.

I can see there are a number of issues that are open, but if there are any new features you would potentially like to see in this next release can you please flag them in this issue? If possible, please only list an existing issue once, and then if it exists 👍 to ind

[2018-10-04 09:27] rktyt opened #221 "wrong handling of soft line breaks"
simple example:
[code]

-----

shown on web interface (`Plain text` tab):
[code]

expected result:
[code]

[2018-10-04 13:28] dronavallisrichandra commented on #98
@ian-kent
Could you please provide the steps to enable then CC functionality in Mail trap ?, i don't see  **show header** option ?

[2018-10-05 09:15] iant-ee commented on #98
Conceptually I think of the Mailhog inbox as being the combination of everyone's inbox, so it would make sense to me for messages to show multiple times if they were sent to multiple people.

This limitation of Mailhog has contributed to a serious bug in making it to production in our application. Our application sends some emails with TO, and some with BCC. We've discovered an edge case that can

[2018-10-05 09:28] rktyt commented on #221
Move to [MailHog-UI](https://github.com/mailhog/MailHog-UI) repository.

[2018-10-05 09:28] #221 closed

[2018-10-11 16:26] axeloz opened #222 "Issue when using non-default UI port"
Hello,

When changing the UI's default port  (I tried 8081 instead of 8025), the UI can't seem to access the websocket on api/v2/websocket (on same host and port than the UI).

I tried these commands, none of them did work:
`./MailHog_linux_amd64 -ui-bind-addr 0.0.0.0:8081`

`./MailHog_linux_amd64 -ui-bind-addr 0.0.0.0:8081 -api-bind-addr 0.0.0.0:8081`

`./MailHog_linux_amd64 -ui-bind-addr 0.0.0.0

[2018-10-12 06:58] macau23 commented on #207
@tyndyll I can't remove the waiting label from this issue, do you need more info?

[2018-10-17 02:04] roelmagdaleno commented on #98
I think this BCC functionality doesn't work yet, and is required for my client and me on a dev environment. How can we make this work?

[2018-10-19 13:19] butters16 commented on #165
This just bit me on `/api/v2/messages` while working with Groovy [HTTPBuilder](https://github.com/jgritman/httpbuilder) and [RESTClient](https://github.com/jgritman/httpbuilder/wiki/RESTClient). I am able to work around it in my client using the suggestion from [here](http://alfonsorv.com/instruct-groovy-httpbuilder-to-handle-a-json-response-with-wrong-content-type/). Also note that `/api/v1/messa

[2018-10-22 08:12] jeroenseegers commented on #220
Having https://github.com/mailhog/MailHog-UI/issues/7 implemented would be nice!

[2018-10-23 14:04] staabm commented on #220
getting https://github.com/mailhog/MailHog/issues/124 fixed would be perfect.
we could offer also some compensation in case that would make this happen.

[2018-10-23 14:08] staabm commented on #124
we also experience this problem with the file-based storage

[2018-10-24 12:49] Cyb10101 opened #224 "Web UI From {{ getSender(message) }}"
If you send a E-Mail without "From", the error is still there in the frontend.
I know you should not do it, but you can.

I would then simply put with a placeholder "From not set" or something like that.
Also think of subject and to.

Reproduce bug run:

[code]

Open Webpage: http://127.0.0.1:8025
From is "{{ getSender(message) }}"

Suitable for the issue: https://github.com/mailhog/MailHog/issues

[2018-10-30 22:02] tyndyll commented on #220
Any more for any more?

[2018-10-30 22:15] staabm commented on #220
In case https://github.com/mailhog/MailHog/issues/166 isn’t a duplicate of #124 it would be great to also have a fix for it

[2018-10-31 02:49] peter-evans commented on #220
We also have issue https://github.com/mailhog/MailHog/issues/166 and it would be great to have a fix.

[2018-11-02 11:02] tyndyll commented on #220
Thanks all. I'll write up a list of what we're planning to have in the next release and get it here next week

[2018-11-04 05:29] #190 closed

[2018-11-05 08:37] staabm opened #225 "mailhog gets slow, when mails contain attachments"
some of the mails we send into mailhog contain PDF files (e.g. terms of service or similar).
these mails are ~600kb in size which leads to a "explosion" of data which needs to be transmitted to the browser on the initial requeest via
https://myhost/api/v2/messages?limit=50

the reasons is, that this message ajax request already contains all attachments in a base64 (or similar?) encoded form.

woul

[2018-11-05 08:37] staabm commented on #220
a kind of show stopper issue for us is described in https://github.com/mailhog/MailHog/issues/225 which would be great if it could be fixed, or at least improved somehow.

[2018-11-05 14:50] macau23 commented on #207
@tyndyll I know someone who would be willing to sponsor this

[2018-11-05 15:23] tyndyll commented on #207
@macau23 Drop me an email. My profile should have the email address

[2018-11-05 17:46] cuongtran8 commented on #220
I don't know if it is too late for that but I got that issue also. And It would be great if it got the fix on 1.1: https://github.com/mailhog/MailHog/issues/197

[2018-11-12 10:02] oskaremil opened #226 "Feature request: enable SMTP authentication for incoming mail"
I would like to enable SMTP authentication (username, password) when configuring MailHog so I can test SMTP interaction with username, password and auth-related failures

[2018-11-13 13:21] oskaremil commented on #226
If this is a desirable feature I could look into it myself

[2018-11-14 14:17] Perturbatio commented on #79
This is still an issue as far as I can see. With a very brief glance at the markup, it looks like the ng-if="searching" condition needs to pay attention to the preview flag also

[2018-11-15 09:57] rightaway opened #227 "Source tab in monospace font"
The font-family of the source tab shows `font-family: Courier New, Courier, System, fixed-width;` but `monospace` should be included in that last. I think it should go after `Courier`, so that if the preferred courier fonts aren't available it uses the system monospace font.

[2018-11-23 10:49] DevNIX commented on #26
Me too, specially when I click the browser notification, it leads me to an iframe with 0 height.

[2018-11-27 03:45] tomjn opened #229 "Recommended Stable Installation"
I help maintain a local dev environment project used by many that switched to MailHog from MailCatcher.

Our installation script relies on the `go get github.com/mailhog/MailHog` method of installation:

https://github.com/Varying-Vagrant-Vagrants/VVV/blob/develop/provision/provision.sh#L570

But I'm seeing some users with issues installing MailHog via the same script with results such as:

[code]

[2018-11-30 01:49] hellerbenjamin commented on #22
Experiencing this consistently today with a Woocommerce site. If I have time I will help troubleshoot but does anyone want logs if I supply them?

[2018-12-10 22:13] jgonera opened #230 "Broken CSS styling of e-mails"
MailHog seems to incorrectly display e-mails that our app sends:

<img width="1437" alt="screen shot 2018-12-07 at 6 13 52 pm" src="https://user-images.githubusercontent.com/223481/49764923-b017cd80-fc85-11e8-92af-5b43cda1e103.png">

They look fine in GMail and MailCatcher:

<img width="1436" alt="screen shot 2018-12-07 at 6 08 49 pm" src="https://user-images.githubusercontent.com/223481/49764705-

[2018-12-11 16:22] nakilon-idwell opened #231 "Deleting all emails using a network request does not refresh the live webpage"
When I send an email it appears on the webpage immediately (using websockets, right?)
But when I delete all images, using the network request like this:
[code]
It does not disappear at all. Only when I refresh the page.

[2018-12-12 14:52] lhall-adexos commented on #220
This one is really bad, I have a server loading 35mb just for listing the 50 first emails.

[2018-12-13 16:20] boris-hocde commented on #167
Hi there,
I think the `sendmail -S` option is only available on Alpine docker images. It comes from the [busybox](https://busybox.net/) package.
With debian based images, you can go with SSMTP, that is straight-forward to set up.

[2018-12-19 10:34] Nklya commented on #146
They don't work for now =(

[2018-12-19 10:36] Nklya commented on #204
There is another problem with docker images.
They are not tagged on Docker Hub.

<img width="436" alt="image" src="https://user-images.githubusercontent.com/26086394/50215073-9fa0da80-038a-11e9-8399-e6ef6a37ba9d.png">

P.S. I can create separate issue if needed

[2018-12-19 19:18] LC43 opened #232 "case-insensitive import collision"
Hi, has anything changed with the naming?

i can't get mailhog with go:

[code]

how can i help?

[2018-12-19 19:22] LC43 commented on #232
was it this?
https://github.com/mailhog/MailHog/commit/1bd561aa34bf68e52eddcdab46c45bdaa576338c

[2018-12-22 11:08] Nklya commented on #84
@MikeParkin You can setup nginx with https and set upstream to MailHog.

The bigger problem is that MailHog doesn't support STARTTLS for smtp.

[2018-12-22 19:13] camuthig opened #233 "Swagger 2.0 inconsistencies"
I tried to create a client for MailHog using the Swagger documentation, but I found a couple of inconsistencies in the results.

1. When listing messages, the Swagger documentation states that the list of results will be under the `messages` property, however, the API returns them under `items`.
1. The Swagger documentation uses lowercase conventions for properties, but the API is returning Go-sty

[2019-01-11 10:30] DevNIX commented on #171
I'm also affected by this bug

[2019-01-11 12:49] flexguse opened #234 "Feature Request: E-Mail Validation"
We use MailHog in our testing-setup and it is great!

Recently we implemented logic which handles Mailserver Errors in case of invalid E-Mail addresses. Unfortunately our functionality can't be tested because MailHog accepts every kind of E-Mail address.

Is it possible to add a E-Mail verification like a real Mailserver would do?

Thank you in advance!

[2019-01-14 07:32] Nakilon commented on #170
`-I` is a HEAD request -- yes, it gives me 404 too.

[2019-01-16 13:54] bendem commented on #229
Each release provides precompiled libraries, I'd say that's the easiest way to get started:
[code]

[2019-01-19 13:18] EugenMayer opened #235 "Docs: Offering rancher catalog for mailhog"
Thanks for the great project. I bundled this one into a https://rancher.com/ catalog - if you like, include that in your docs https://github.com/EugenMayer/docker-rancher-extra-catalogs/tree/master/templates/mailhog

In any means, just thank you for this really hand piece of tooling!

[2019-01-31 10:12] g13013 commented on #98
I think that the UI exposing the list of the multiple `RCPT TO` addresses and showing the CC and BCC headers is enough

[2019-01-31 16:24] ivans083 commented on #107
Any updates on this?

[2019-02-01 09:04] peterchaula opened #236 "Update copyright :)"

[2019-02-01 15:27] kakerduu opened #237 "Add .json file"
Hello,

I'm having some troubles adding the .json file.

Command is:
sudo docker run -d --name="mailhog" -e "MH_STORAGE=maildir" -v $PWD/maildir:/maildir -p 1025:1025 -p 8025:8025 -e "MH_OUTGOING_SMTP=/home/user/mailhog/smtp.json" mailhog/mailhog

The container logs say that the file cannot be found.

Can someone please help me?

Thanks.

[2019-02-07 21:36] Latiosu commented on #98
It seems that `BCC` and `CC` email headers do appear when the Show Headers section is open.
Although it is dependent on whether the email client drops the `BCC` header or not from the message.
For example, Sendmail doesn't drop the `BCC` header whereas PHPMailer's SMTP client does:

**Email sent via Sendmail**
<img width="444" alt="sendmail" src="https://user-images.githubusercontent.com/7020503/5

[2019-02-11 11:27] monobook commented on #220
@tyndyll ping :)

[2019-02-12 12:08] tyndyll commented on #220
Apologies for the delay - I'll have an update on this on Friday 11/2. Any issues that will be addressed in the next release will be tagged with 1.1. Based on the issues and tasks included, I'll provide an estimated release date also

[2019-02-12 14:52] g13013 commented on #98
The difference between BCC and CC is that the CC email addresses are included in the email’s MIME (in the "CC" header field).
BCC addresses do not appear in the MIME source of the email, hence the recipient cannot see the BCC list. The BCC addresses are, however, passed in "RCPT TO" commands to the SMTP server when sending the email. (and so are the To and CC addresses.)

[2019-02-13 10:11] brice commented on #27
I can try to help. I don't think this is something that we can correct in this project but probably in a sub project. Is someone can help me to investigate, i'm kinda new in Go.

[2019-02-13 16:49] tyndyll commented on #235
Do you want to add this to the project so that we can automatically build and generate it on release?

[2019-02-13 17:11] EugenMayer commented on #235
actually i did not really plan about this - just wanted to share, maybe for the docs - but at least saying thank you :)

[2019-02-16 13:36] sandro768 opened #238 "MailHog sending mail attachment problem"
Hello, I am trying to send mail attachment in Magento 1 using Zend framework but MailHog gives me the following message:
 'This is a message in Mime Format.  If you see this, your mail reader does not support this format'.

Here is my Source in MailHog.

[2019-02-19 09:12] tyndyll commented on #238
I'm pretty certain this is a Zend issue. The source is what has been received from Mailhog from your script. Can you try sending via another SMTP server to confirm?

[2019-02-19 09:21] tyndyll commented on #237
From what I can see the smtp.json file has not been mounted inside the container. Can you confirm that you have added this file into the relevant location?

[2019-02-19 09:22] tyndyll commented on #234
Can you give some examples as to what you think this functionality would look like?

[2019-02-19 09:27] tyndyll commented on #226
Please write up a rough plan on how you would implement this, including any UI changes for the web pages and command line flag

[2019-02-19 09:32] tyndyll commented on #206
Can you add the source of the image for testing and reproduction please?

[2019-02-19 09:39] tyndyll commented on #185
My suspicion is there isn't a lot we can do with this. Suggest you liase with your admin to see if it can be whitelisted

[2019-02-19 09:39] #185 closed

[2019-02-19 09:41] tyndyll commented on #180
@WFP2TAR Sorry - whihch puppet module are you using? Thanks

[2019-02-19 09:46] tyndyll commented on #170
Can you provide some details on what you mean by "behind a load balancer"? This will help us reproduce

[2019-02-19 09:48] tyndyll commented on #164
Please provide some additional details as to how you would see this working

[2019-02-19 09:50] tyndyll commented on #163
@swrobel Can you paste a SMTP session which demonstrates your expected result? (e.g. https://docs.microsoft.com/en-us/exchange/mail-flow/test-smtp-with-telnet?view=exchserver-2019)

[2019-02-19 09:53] tyndyll commented on #159
The address should be http://127.0.0.1:8025 (no www). Adding the prefix convinces the browser that the address should be a domain name

[2019-02-19 09:53] #159 closed

[2019-02-19 09:55] tyndyll commented on #153
Can you please provide an example of how you would expect this to look? Thanks

[2019-02-19 09:59] tyndyll commented on #140
@brothman01 Is this still an issue?

[2019-02-19 09:59] flexguse commented on #234
There could be an option (maybe in GUI): enable_email_verification=true/false

If activated, mailhog does not accept E-Mail recipient addresses like test@test or t@ and mailhog returns a STMP 510/511 code.

[2019-02-19 09:59] nakilon-idwell commented on #170
This is enough to reproduce:

[code]

The last request is HEAD, not GET. The mailhog server had to respond with 200, not 404.

[2019-02-19 10:02] tyndyll commented on #129
Closing based on @talawahtech's comment

[2019-02-19 10:02] #129 closed

[2019-02-19 10:03] tyndyll commented on #127
Closing. This seems to be a user environment issue

[2019-02-19 10:03] #127 closed

[2019-02-19 10:10] tyndyll commented on #125
I don't see a practical way for this to be implemented at the moment. If there is still a pressing need for this please re-open and give some a walk through as to what you think this should look like

[2019-02-19 10:10] #125 closed

[2019-02-19 10:24] tyndyll commented on #61
Closing this. There are other issues here that suggest extracting out attachments that I think may be the better solution to the problem for now

[2019-02-19 10:24] #61 closed

[2019-02-19 10:25] tyndyll commented on #60
Closing based on y2keepers comment

[2019-02-19 10:25] #60 closed

[2019-02-19 10:33] tyndyll commented on #220
Hi all, everything I'm planning to get into this release can be found at

https://github.com/mailhog/MailHog/issues?q=is%3Aissue+is%3Aopen+label%3A1.1

I appreciate that this doesn't get everything that everyone wants, but it's a step in the right direction and the next release shouldn't be too far behind it

You will notice that there are limited UI related issues included. The UI is something I'

[2019-02-19 11:14] wunderkind2k1 commented on #206
@tyndyll did you try the one from #27 -> https://pastebin.com/KnenaHvR already?

[2019-02-19 11:32] tyndyll commented on #206
Not yet :)

[2019-02-21 01:33] #164 closed

[2019-02-26 16:55] allangood commented on #195
Hello @timbirk, I'm using Mailhog for a while now and what I like it most is its simplicity. It's just one single binary file that you put on your computer an run it. Also, I'm a big fan of Prometheus, another awesome tool that is incredible simple. One thing that keep Prometheus awesome is the fact that all developers keep coding/adding features to the core of the project, on what is really impor

[2019-02-26 17:03] allangood commented on #234
Hello @flexguse, if you need some smtp validation/restrictions, instead of validating everything on Mailhog, you can implement a SMTP gateway in front of you Mailhog box.
For instance, if you use Postfix as a gateway, you can implement many type of filters to your e-mail. Is really easy to implement.

Look here:
[http://www.postfix.org/STANDARD_CONFIGURATION_README.html](http://www.postfix.org/STA

[2019-02-26 22:39] allangood commented on #173
Hi @mkrsn,
In my experience, is better to keep all environments isolated from each other, this will prevents users from sending e-mail (wrongly) to other mailboxes and interfering with others work.

Personally, I use Mailhog because it's lengthwise and I can run multiple instances to build isolated environments.

A setup like you suggested, can be achieved with postfix and multiple catch-all mailb

[2019-02-27 10:01] mkrsn commented on #173
Hi @allangood,

I dont know what kind of people you work with but normal users should not use this Project. This is imho a tool for Admins & Devs, they should know what they do and they should also able to troubleshoot mistakes.

Apart from that, handling with meaningless ports should be more error-prone than one clear socket with some rules to isolate the ENVs. It's maybe handable if you only hav

[2019-02-27 16:51] allangood commented on #173
Hi @mkrsn, I work with devs and here we count with a devops team (my team).
The whole thing is just a matter of using different tools instead of adding a lot of functionalities to one single project. This is one of the concept of the Unix ecosystem ([KISS principle](https://en.wikipedia.org/wiki/KISS_principle)). Meaningless ports ports can be avoided using a different configuration, try to use [m

[2019-02-28 20:00] allangood commented on #163
Hi @swrobel, I believe you are talking about validate e-mail address based on all RFCs.
Based on this assumption, a regular expression can be used to [validate e-mails](http://emailregex.com/email-validation-summary/index.html) but this will introduce a new challenge/problem described [here](https://www.regular-expressions.info/email.html). In summary, any regular expression will not be UTF-8 safe

[2019-02-28 20:08] swrobel commented on #163
Thanks for the feedback, everyone. I now realize that the issue of recipient validation is much more complex and non-standard than I imagined, rather than being a simple spec that all SMTP servers could follow. I'm going to close this out.

[2019-02-28 20:08] #163 closed

[2019-02-28 23:36] tyndyll commented on #163
@swrobel Thanks for your feedback and suggestion.

[2019-03-01 16:43] allangood commented on #152
Seems to be duplicated by #173

[2019-03-04 19:48] jtammen commented on #59
@wespday @vincebowdren I know this is kind of old … but did you ever manage to work around this issue?

I am trying to forward from Mailhog to https://github.com/antespi/docker-imap-devel and I am also getting this error:

[2019-03-05 08:57] vincebowdren commented on #59
@jtammen No, for a number of reasons:
1. there didn't seem to be any easy solution available
2. I found that I could use MailDev for my test rig: https://danfarrelly.nyc/MailDev/.
3. the smtp relay that I was trying to forward on to (within the corporate network) was shut down.

So I ended up using MailDev to catch my AUT's outgoing mail, without bothering to try forwarding it on anywhere.

[2019-03-05 09:16] jtammen commented on #59
@vincebowdren Thanks for your reply – I also ended up switching to MailDev.

[2019-03-12 18:53] peterdd opened #240 "gui executes javascript in mail subject"
tried current docker mailhog/mailhog

executes simple <script>alert(1)</script> from mail subject.

![mailhog_subject_js](https://user-images.githubusercontent.com/1839154/54227379-15d35a00-4500-11e9-97b1-ff51f2f528b2.png)

[2019-03-12 19:36] peterdd commented on #240
also when in mail body

[2019-03-13 21:50] leebradley commented on #84
It's worth noting that Go's own net/smtp disallows sending emails unless TLS is enabled or the recipient is localhost:

Snippet from `src/net/smtp/auth.go`
[code]

Despite the fact that MailHog is written in Go, it cannot generally receive messages from Go 🙃

[2019-03-14 14:24] alberto56 opened #241 "What is the -S flag in sendmail?"
In the README, it is stated:

I have not found any documentation on what the -S flag is supposed be doing, for example in [this documentation](http://www.postfix.org/sendmail.1.html) of the sendmail utility. Could we provide some context on what the -S flag does?

[2019-03-14 17:01] fredleger opened #242 "Error when using a full disk for dedicated storage of maildir folder"
When trying to use mailhog in a kuebernetes cluster i noticed the following error.

*Steps to reproduce:*

- Under linux format a file system (this will create a lost+found folder) using ext4 (ex: /data)
- Use this FS as the Mailhog main maildir `Mailhog -maildir-path /data`
- try to access the mailhog API or Web UI (this will produce an error

*Traces:*

[code]

*Workaround* :

`rm -rf /data/lost

[2019-03-14 17:03] fredleger commented on #242
Actually any folder created in maildir will produce the error. I would suggest to just skip folders if thsi is possible

[2019-03-19 08:26] OnkelTem opened #243 "Feature request: Web browser notification"
It would be nice to have mailhog capable to display notifications upon receiving messages. This would save clicking on mailhog tab every time to see if a message is received.

[2019-03-19 11:54] peterdd commented on #243
Which browser? Here my experience on a Mac:

* Firefox: It seems to work. It even plays a *bing* sound.
* Safari: Shows the notifcation, but no sound. (dunno why not playing sound)
* Chrome: No notification, no sound. (dunno why)

Screenshot: Mailhog is not the active tab, but receives the notification.

![mailhog_ff_notification](https://user-images.githubusercontent.com/1839154/54602543-3fc9d680

[2019-03-19 13:02] peterdd commented on #241
Made a little test with opensuse by installing different mail software with yast:

man sendmail of postfix: no -S option
man sendmail of BSD sendmail: no -S option, but -q[!]Ssubstr

man sendmail of exim: -S option exists

Here a snippet from exim sendmail manpage:
[code]

[2019-03-19 18:40] OnkelTem commented on #243
@peterdd Chrome, Linux, Version 72.0.3626.121 (Official Build) (64-bit)

[2019-03-31 23:14] webdobe commented on #22
I am getting this as well with a Drupal 8 docker install. Regardless if I send in html or not.  Been debugging, but not getting anywhere.  I changed some info to remain anonymous, I see the mailhog.example.. not sure If that is causing the issue?

[code]

[2019-04-04 18:45] LubosRemplik commented on #173
+1 for this feature

[2019-04-17 22:07] jcuna commented on #111
Found a use case for this today as well. Building a system that hides original `From` email field to all support staff and instead uses message-id, etc for tracking. Being able to reply within Mailhog would have made this work I'm doing much faster.

[2019-04-17 22:24] brothman01 commented on #140
yes, I stopped trying to use mailhog for a while but now I am at it again!

I used bishless's steps from above and made an MU plugin using his code but mailhog is still not catching mail that I have another WordPress plugin I wrote sending using the `mail()` function.  Should I be using a different PHP function or something?

[2019-04-17 22:30] tyndyll commented on #140
Do you have the full line from your PHP code where mail is being called?

And any relevant php.ini params? It’s been a while since I used PHP but we’ll try to get you runninh

[2019-04-17 23:27] jcuna commented on #171
Also having this issue, any help would be greatly appreciated.

[2019-04-17 23:57] brothman01 commented on #140
lol sry but it's a lot of php :)
anyway, the line is: ````mail( "someone@example.com", "My subject", $msg );````
which is being called from an asynchronous request (I know this is not simplifying anything) request that is fired from JQuery which calls the php function that contains this line.

I did not configure php.ini which may be the problem.. I just assumed that bishless's method of using a p

[2019-04-25 19:07] rhnewtron commented on #56
We use mailhog as target for load tests for html mails. We use Openshift and collect logs to the integrated EFK stacks for all containers. Right now a single Mailhog instance fills gigabytes of logs. For now we disabled logs completely. However a logging verbosity system would be a great feature:

- Warn: Warnings and Errors only
- Info: Minimal Metadata (Mail Received with Headers atc)
- Debug: M

[2019-04-26 21:38] allangood commented on #74
I've started to work on this item as it's seems to be very critical for me.
I'm using MongoDB because "inmemorry" storage uses too much memory to store embedded content and attachments, and MongoDB tends to be very slow after 20k~50k messages (MongoDB running with 1.5GB limit).

For now, to make thinks easy, I'm implementing limit based on number of messages for InMemory and MongoDB storage. Maild

[2019-05-02 14:15] allangood commented on #74
Addressed on PR #244
Hope it helps!

Regards.

[2019-05-02 14:16] allangood commented on #105
Seems to be duplicated from #74
I've sent the PR #244 to address this!

Regards.

[2019-05-03 14:39] allangood commented on #74
I would like to share some tests results using this feature enabled.

Before and after the patch
The big drop is when I started to use the `--storage-limit 2000` switch
![image](https://user-images.githubusercontent.com/757086/57144357-87a08500-6d86-11e9-9cfb-f71df3687eee.png)

Messages sent during that period:
![image](https://user-images.githubusercontent.com/757086/57144555-e960ef00-6d86-11e9-9

[2019-05-07 18:59] allangood commented on #220
Hello @tyndyll, any update when the new version will be ready for test?
I've submitted PR #244 to help with this new release. Hope you have some time to look at it.

Thank you!

[2019-05-17 16:35] cristiroma commented on #142
I have the an website running on Apache 2.4 at URL https://www.domain.com and MailHog UI in docker on local port 8025. Requests are reverse-proxy from URL https://www.domain.com/mail/.

Here is the configuration:

[code]

It is very important to note that *without proxy_wstunnel_module websockets does not work*

[code]

Also I had to redirect `/mail` to `/mail` because if the I've tried https://ww

[2019-05-27 04:24] peterdd commented on #243
Maybe I have the reason: https://developer.mozilla.org/en-US/docs/Web/API/notificationSecure context

"This feature is available only in secure contexts (HTTPS), in some or all supporting browsers."
So in the latest Firefox 67 it is not working anymore - unless I change in about:config the dom.webnotifications.allowinsecure to false when you use mailhog just local for testing without TLS.
(notific

[2019-05-27 10:46] tyndyll commented on #220
Am hoping for the next few weeks. Apologies - have had a bit on IRL

[2019-05-27 11:30] KoolPal commented on #22
Oh man! I installed MailHog just to work on Woocommerce emails and now I find this issue! :(

[2019-05-27 13:11] peterdd commented on #220
Also small releases with bugfixes are ok too. And describe the project in readme what is the purpose of mailhog. Just referencing another project mailcatcher is not enough.

[2019-05-28 00:50] hellerbenjamin commented on #22
This might help in the meantime
https://wordpress.org/plugins/woo-preview-emails/

[2019-05-28 04:37] KoolPal commented on #22
@hellerbenjamin Thanks I will use this.

[2019-05-28 21:33] webdobe commented on #204
This is still an issue and yet alpine is considered to have one of the most vulnerable 0 days in docker? https://blog.aquasec.com/cve-2019-5021-alpine-docker-image-vulnerability 3.4 the image this is built from has no fix available.  This is bad news guys.

[2019-05-28 22:30] tyndyll commented on #204
A change was made earlier today to use the official Golang image. A push to Dockerhub is imminent

[2019-05-31 09:58] scne opened #246 "release gmail not working"
I try to configure permanent release smtp over g suite but I get the following error. I think the problem is auth mechanism.

[code]
Suggestions?

[2019-06-06 13:54] jens-cofinpro commented on #225
Mailhog seems to write every line of an email-attachment to the log (journalctl -u maillhog on centos).
The response time goes drastically down. Is there a way to avoid this?

[2019-06-07 13:44] bocharsky-bw opened #247 "No any warnings in console when SMTP port is already taken"
If port 1025 is already taken - it does not show any warning on running. Well, UI works, but SMTP server does not catch any emails. Here's the output:

[code]

I ran both Mailcatcher and then MailHog on Mac OS, the first catches all the emails, the second is always empty

[2019-06-12 23:58] jlellis opened #248 "Unable to pre-load OutgoingSMTP values for use in Release"
I'm trying to provide my developers with a pre-defined 'Release' smtp target by providing MailHog with a -outgoing-smtp JSON file.  I've fiddled with this for several hours.  I can see the entry appearing in the Release selection box in the web gui, but using it always fails.

When running MailHog from the command line in the foreground (or with a systemd service defintion that routes stdout to th

[2019-06-13 16:00] ParadoxalManiak commented on #98
Any update on this ? I want to see BCCs and CCs from all methods of mailing either in headers or somewhere else. This is a needed feature and it's being asked for since 2016.

[2019-06-17 13:36] fabiencytadel commented on #74
Nice work @allangood !

[2019-06-21 17:46] muckweaver commented on #153
That you can get out decoded text and not have to deal with `data i=\r\nn my text`

[2019-06-26 16:12] richbreton commented on #230
Any updates on this?

[2019-07-11 14:18] fstaudt commented on #84
To improve the quality of my tests, I would also appreciate to have TLS support for SMTP in mailhog.
Our SMTP client has TLS configuration that can't currently be tested with Mailhog.

It would be great to have this optional by configuration.

[2019-07-11 15:24] vanDonselaar commented on #84
As a workaround you could use [Stunnel](https://www.stunnel.org/) as a reverse STARTTLS proxy in front of MailHog.

[2019-07-16 20:48] trajano commented on #74
Is this merged yet?

[2019-07-26 17:22] allangood commented on #74
No, isn't. But I've forked this project and published a version with this change on my account.
https://github.com/allangood/MailHog/releases/tag/v1.0.1

[2019-07-26 18:10] ahathaway commented on #220
Where are things at for a 1.1 release?

[2019-07-27 03:16] trajano commented on #74
@allangood  is there a docker image for this?

[2019-07-29 20:51] allangood commented on #74
Hi @trajano , you can use the Docker file available on my repository to build it. It uses the latest version of Alpine.

[2019-07-29 22:55] trajano commented on #74
@allangood what's the URL for the repository? I can't find it in docker hub.

[2019-07-30 12:23] antonpiatek-imanage opened #250 "dockerhub image fails to start"
docker run --rm -it mailhog/mailhog:latest
docker: Error response from daemon: linux spec user: unable to find user mailhog: no matching entries in passwd file.

Building the latest dockerfile from branch master works fine, perhaps dockerhub just needs pushing the latest image?

[2019-08-01 18:44] bradbulger commented on #204
I happened to be tailing the logs of my apache container in my local setup and saw a ton of obvious hackish scans that were originating from the MailHog container IP. I am rebuilding now, but could this be related to these security concerns?

[2019-08-03 15:58] webdobe commented on #204
Any update on this?  Dockerhub is still not updated.

[2019-09-04 09:54] bocharsky-bw opened #251 "Invalid instructions for deploying MailHog via command line"
On this page: https://github.com/mailhog/MailHog/blob/9b87c4cf3a6b9cca9c022999310b8e18829bf239/docs/DEPLOY.md it says run:

[code]

Running this on my Ubuntu says:

Any thoughts?

[2019-09-04 10:03] bocharsky-bw opened #252 "How to install on Linux / Ubuntu?"
Can anyone clarify installation for Ubuntu?

In the latest release: https://github.com/mailhog/MailHog/releases/tag/v1.0.0 - I see a few Linux installations:
- MailHog_linux_386
- MailHog_linux_amd64
- MailHog_linux_arm

But it does not work for my Ubuntu, I can download it but I don't know how to open it - the downloaded files have no extension part, and UIbuntu also does not suggest anything tha

[2019-09-04 10:07] bocharsky-bw opened #253 "Make instructions clearer on how to install from source"
In the latest release: https://github.com/mailhog/MailHog/releases/tag/v1.0.0 - I see I can download from source, but how to install and run it? Can anyone help?

[2019-09-04 10:20] bocharsky-bw commented on #252
Partially might be resolved by #192

[2019-09-04 11:03] Fale commented on #251
You probably are missing the Go bin path in your execution path

[2019-09-04 12:32] bocharsky-bw commented on #251
Ah, yes, most probably it is! Though I just installed Go via APT and that's it, so looks like it wasn't added automatically. I think it would be good to add a note about it? And probably mention that you can execute the binary directly, for me the path was `~/go/bin/MailHog`

[2019-09-04 20:54] benlumia007 opened #254 "Docker Hub"
Is the container for mailhog only has mailhog, does it also have mhsendmail or do i need to add mhsendmail, i try everything i can think, i even try to install on fpm and nginx.

im not sure where I'm doing wrong.